Repository aws/eks-distro-build-tooling, pull requests merged in 2021-12, with the labels that each got.

#269 Fix PR creation parameters for eks-anywhere repo
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/S

#271 Add override plugin, remove needs-rebase plugin
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/plugins-ConfigMap.yaml
Labels: lgtm, approved, size/XS

#272 Bump Grafana helm chart version to 6.18.2
  projects/grafana/helm-charts/Makefile
Labels: lgtm, approved, size/XS

#273 Bumping golang versions and adding 1.17
  builder-base/golang-amd64-checksum
  builder-base/golang-arm64-checksum
  builder-base/install.sh
Labels: lgtm, approved, size/S

#276 distro-base: kind + haproxy + nginx new minimal variants
  EKS_DISTRO_MINIMAL_BASE_HAPROXY_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_KIND_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_NGINX_TAG_FILE
  eks-distro-base/Dockerfile.minimal-base-haproxy
  eks-distro-base/Dockerfile.minimal-base-kind
  eks-distro-base/Dockerfile.minimal-base-nginx
  eks-distro-base/Makefile
  eks-distro-base/check_update.sh
Labels: do-not-merge/hold, approved, size/L

#278 minimal-base-kind: add yum
  EKS_DISTRO_MINIMAL_BASE_KIND_TAG_FILE
  eks-distro-base/Dockerfile.minimal-base-kind
Labels: lgtm, approved, size/S

#275 builder-base: add update-shasums script to make updating easier
  builder-base/goss-amd64-checksum
  builder-base/govc-amd64-checksum
  builder-base/install.sh
  builder-base/packer-amd64-checksum
  builder-base/update_shasums.sh
  builder-base/versions.sh
  builder-base/yq-amd64-checksum
  builder-base/yq-arm64-checksum
Labels: lgtm, approved, size/L

#280 Add exec permissions to yq binary
  builder-base/install.sh
Labels: lgtm, approved, size/XS
