Repository aws/eks-distro-build-tooling, pull requests merged in 2021-09, with the labels that each got.

#211 Fix comments for asset component methods
  release/pkg/assets_attacher.go
  release/pkg/assets_authenticator.go
  release/pkg/assets_cni.go
  release/pkg/assets_coredns.go
  release/pkg/assets_livenessprobe.go
  release/pkg/assets_metricsserver.go
  release/pkg/assets_provisioner.go
  release/pkg/assets_registrar.go
  release/pkg/assets_resizer.go
  release/pkg/assets_snapshotter.go
Labels: lgtm, approved

#213 Add tag update automation for eks-anywhere repos
  builder-base/update_base_image.sh
  eks-distro-base/update_base_image.sh
  pr-scripts/update_local_branch.sh
Labels: lgtm, approved

#214 Create base image PRs for eks-anywhere-build-tooling
  builder-base/buildkit.sh
  builder-base/docker.sh
  builder-base/install.sh
  builder-base/update_base_image.sh
  eks-distro-base/Makefile
  pr-scripts/create_pr.sh
Labels: lgtm, approved

#215 Refactor git config to support postsubmits
  pr-scripts/update_local_branch.sh
Labels: lgtm, approved

#217 Add EKS-A build tooling repo to condition
  pr-scripts/create_pr.sh
Labels: lgtm, approved

#221 Add registry endpoint script to config updater
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/plugins-ConfigMap.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved

#222 eks-distro: fix minimal packages update during periodic
  pr-scripts/update_image_tag.sh
Labels: lgtm, approved, size/XS

#223 Revert "[PR BOT] Update base image tag file(s) (#219)"
  EKS_DISTRO_BASE_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_CSI_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_DOCKER_CLIENT_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GIT_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GLIBC_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_IPTABLES_TAG_FILE
Labels: lgtm, approved, size/S

#212 Remove Bazel install and checksums from builder-base
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/bazel-checksum
  builder-base/install.sh
Labels: lgtm, approved, kind/cleanup, size/M

#220 break apart minimal variants and base off previous tags
  eks-distro-base/Dockerfile.base
  eks-distro-base/Dockerfile.minimal
  eks-distro-base/Dockerfile.minimal-base
  eks-distro-base/Dockerfile.minimal-base-csi
  eks-distro-base/Dockerfile.minimal-base-docker-client
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/Dockerfile.minimal-base-glibc
  eks-distro-base/Dockerfile.minimal-base-iptables
  eks-distro-base/Dockerfile.minimal-base-nonroot
  eks-distro-base/Makefile
  eks-distro-base/README.md
  eks-distro-base/check_update.sh
  eks-distro-base/scripts/remove_package
  pr-scripts/update_image_tag.sh
Labels: lgtm, approved, size/XL

#227 Cleanup Go source code, bring back gofmt
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/install.sh
Labels: lgtm, approved, size/M

#228 builder: fix go-licenses by installing later in the process
  builder-base/install.sh
Labels: lgtm, approved, size/S

#229 Retain Prowjobs for longer
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/config-ConfigMap.yaml
  helm-charts/stable/prow-control-plane/templates/plugins-ConfigMap.yaml
Labels: lgtm, approved, size/XS
