Repository aws/eks-distro-build-tooling, pull requests merged in 2021-11, with the labels that each got.

#249 Remove print statements from output except for error
  release/pkg/clients.go
  release/pkg/generate_spec.go
Labels: lgtm, approved, size/S

#251 Install openssl devel for OpenSSL lib headers
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#252 Build multiple Golang versions only for amd64 version
  builder-base/install.sh
Labels: lgtm, approved, size/M

#253 Updated versions related to amazon-eks-pod-identity-webhook
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/install.sh
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/uninstall.sh
  projects/aws/amazon-eks-pod-identity-webhook/GIT_COMMIT
Labels: lgtm, approved, size/S

#250 Add Helm charts for deploying binfmt Daemonset
  helm-charts/scripts/install-toolchain.sh
  helm-charts/scripts/verify-version.sh
  helm-charts/stable/binfmt/.helmignore
  helm-charts/stable/binfmt/Chart.yaml
  helm-charts/stable/binfmt/README.md
  helm-charts/stable/binfmt/templates/binfmt-DaemonSet.yaml
  helm-charts/stable/binfmt/values.yaml
Labels: lgtm, approved, size/L

#254 Make ARM builder base more minimal
  builder-base/buildkit-arm64-checksum
  builder-base/github-cli-arm64-checksum
  builder-base/helm-arm64-checksum
  builder-base/helm-checksum
  builder-base/install.sh
  builder-base/nodejs-arm64-checksum
  builder-base/packer-arm64-checksum
Labels: lgtm, approved, size/L

#255 Remove function calls in Docker script
  builder-base/docker.sh
Labels: lgtm, approved, size/XS

#256 Symlink Go binaries to versioned bin folder in GOPATH
  builder-base/install.sh
Labels: lgtm, approved, size/M

#257 pod-id: workaround upgrade issues with mwc and old CSRs
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/install.sh
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/install-ClusterRole.yaml
Labels: lgtm, approved, size/S

#258 pod-webhook: add new cluster role perm for signing key from webhook
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/install.sh
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/install-ClusterRole.yaml
Labels: lgtm, approved, size/S

#259 Add template to create secret for basic auth
  projects/gomods/athens/CHART_VERSION
  projects/gomods/athens/Makefile
  projects/gomods/athens/templates/basic-auth-Secret.yaml
  projects/gomods/athens/upload-athens-artifacts.sh
Labels: lgtm, approved, size/M

#260 attribution: improve prefix matching of modules
  generate-attribution/generate-attribution-file.js
Labels: lgtm, approved, size/S

#261 base-git: update libssh and libgit2 for flux source-controller
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/amd64-git-checksums
  eks-distro-base/arm64-git-checksums
Labels: lgtm, approved, size/S

#262 Add Athens ingress patch with SSL redirect and default service backend
  projects/gomods/athens/CHART_VERSION
  projects/gomods/athens/patches/0001-Add-SSL-redirect-and-default-service-backend-to-Athe.patch
  projects/gomods/athens/templates/basic-auth-Secret.yaml
  projects/gomods/athens/upload-athens-artifacts.sh
Labels: lgtm, approved, size/M

#264 Bump up commit for Prometheus helm charts
  projects/prometheus-community/helm-charts/KUBE_STATE_METRICS_CHART_GIT_COMMIT
  projects/prometheus-community/helm-charts/Makefile
  projects/prometheus-community/helm-charts/PROMETHEUS_CHART_GIT_COMMIT
Labels: lgtm, approved, size/XS

#265 Add affinity spec to Helm chart values and templates
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/Deployment.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/install-CronJob.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/install-Job.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/uninstall-Job.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/values.yaml
Labels: lgtm, approved, size/S

#266 Add eks-anywhere repo to base image tag update workflow
  eks-distro-base/Makefile
  eks-distro-base/update_base_image.sh
Labels: lgtm, approved, size/XS
