Repository aws/eks-distro-build-tooling, pull requests merged in 2022-06, with the labels that each got.

#391 Remove mrajashree and sostheim from OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#394 update go-licenses to 1.2.1
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#392 distro-base: Adds list of files for each variant for tracking
  eks-distro-base-minimal-packages/2/linux_amd64/base-files
  eks-distro-base-minimal-packages/2/linux_amd64/csi-files
  eks-distro-base-minimal-packages/2/linux_amd64/docker-client-files
  eks-distro-base-minimal-packages/2/linux_amd64/git-files
  eks-distro-base-minimal-packages/2/linux_amd64/glibc-files
  eks-distro-base-minimal-packages/2/linux_amd64/haproxy-files
  eks-distro-base-minimal-packages/2/linux_amd64/iptables-files
  eks-distro-base-minimal-packages/2/linux_amd64/kind-files
  eks-distro-base-minimal-packages/2/linux_amd64/nginx-files
  eks-distro-base-minimal-packages/2/linux_arm64/base-files
  eks-distro-base-minimal-packages/2/linux_arm64/csi-files
  eks-distro-base-minimal-packages/2/linux_arm64/docker-client-files
  eks-distro-base-minimal-packages/2/linux_arm64/git-files
  eks-distro-base-minimal-packages/2/linux_arm64/glibc-files
  eks-distro-base-minimal-packages/2/linux_arm64/haproxy-files
  eks-distro-base-minimal-packages/2/linux_arm64/iptables-files
  eks-distro-base-minimal-packages/2/linux_arm64/kind-files
  eks-distro-base-minimal-packages/2/linux_arm64/nginx-files
  eks-distro-base/Dockerfile.minimal-helpers
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XXL

#393 distro-base: fix validate_libraries
  eks-distro-base/Dockerfile.minimal-base-haproxy
  eks-distro-base/scripts/eks-d-common
  eks-distro-base/scripts/validate_libraries
Labels: lgtm, approved, size/L

#396 Update YQ version in builder-base
  builder-base/versions.sh
  builder-base/yq-amd64-checksum
  builder-base/yq-arm64-checksum
Labels: lgtm, size/XS

#397 Adds 2022 files for tracking
  eks-distro-base-minimal-packages/2022/linux_amd64/base-files
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-files
  eks-distro-base-minimal-packages/2022/linux_amd64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_amd64/git-files
  eks-distro-base-minimal-packages/2022/linux_amd64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_amd64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_amd64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_amd64/kind-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nginx-files
  eks-distro-base-minimal-packages/2022/linux_arm64/base-files
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-files
  eks-distro-base-minimal-packages/2022/linux_arm64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_arm64/git-files
  eks-distro-base-minimal-packages/2022/linux_arm64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_arm64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_arm64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_arm64/kind-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nginx-files
Labels: lgtm, approved, size/XXL

#390 distro-base: Adds new install_binary scripts
  Makefile
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/Dockerfile.minimal-helpers
  eks-distro-base/scripts/clean_docs
  eks-distro-base/scripts/clean_install
  eks-distro-base/scripts/cleanup
  eks-distro-base/scripts/eks-d-common
  eks-distro-base/scripts/install_binary
  eks-distro-base/scripts/install_deps_for_binary
Labels: lgtm, approved, size/L

#398 Adds ebs-csi driver base image
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-minimal-packages/2/linux_amd64/csi-ebs
  eks-distro-base-minimal-packages/2/linux_amd64/csi-ebs-files
  eks-distro-base-minimal-packages/2/linux_arm64/csi-ebs
  eks-distro-base-minimal-packages/2/linux_arm64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-ebs
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-ebs
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-ebs-files
  eks-distro-base/Dockerfile.minimal-base-csi-ebs
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XXL

#405 add go1.8
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#406 distro-base: makes it easier to run minimal image smoke tests
  eks-distro-base/Makefile
  eks-distro-base/tests/Dockerfile
  eks-distro-base/tests/check_git.go
  eks-distro-base/tests/run_tests.sh
  pr-scripts/eks_distro_base_pr_body
Labels: lgtm, approved, size/L

#409 distro-base: Fixes security update check for extras packages
  eks-distro-base/check_update.sh
Labels: size/XS

#411 distro-base: Use seperate message for other repos
  pr-scripts/create_pr.sh
  pr-scripts/eks_distro_base_other_repo_pr_body
Labels: lgtm, approved, size/S

#408 distro-base: Use new files format for files in minimal images
  eks-distro-base-minimal-packages/2/linux_amd64/base-files
  eks-distro-base-minimal-packages/2/linux_amd64/csi-ebs-files
  eks-distro-base-minimal-packages/2/linux_amd64/csi-files
  eks-distro-base-minimal-packages/2/linux_amd64/docker-client-files
  eks-distro-base-minimal-packages/2/linux_amd64/git-files
  eks-distro-base-minimal-packages/2/linux_amd64/glibc-files
  eks-distro-base-minimal-packages/2/linux_amd64/haproxy-files
  eks-distro-base-minimal-packages/2/linux_amd64/iptables-files
  eks-distro-base-minimal-packages/2/linux_amd64/kind-files
  eks-distro-base-minimal-packages/2/linux_amd64/nginx-files
  eks-distro-base-minimal-packages/2/linux_arm64/base-files
  eks-distro-base-minimal-packages/2/linux_arm64/csi-ebs-files
  eks-distro-base-minimal-packages/2/linux_arm64/csi-files
  eks-distro-base-minimal-packages/2/linux_arm64/docker-client-files
  eks-distro-base-minimal-packages/2/linux_arm64/git-files
  eks-distro-base-minimal-packages/2/linux_arm64/glibc-files
  eks-distro-base-minimal-packages/2/linux_arm64/haproxy-files
  eks-distro-base-minimal-packages/2/linux_arm64/iptables-files
  eks-distro-base-minimal-packages/2/linux_arm64/kind-files
  eks-distro-base-minimal-packages/2/linux_arm64/nginx-files
  eks-distro-base-minimal-packages/2022/linux_amd64/base-files
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-files
  eks-distro-base-minimal-packages/2022/linux_amd64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_amd64/git-files
  eks-distro-base-minimal-packages/2022/linux_amd64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_amd64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_amd64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_amd64/kind-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nginx-files
  eks-distro-base-minimal-packages/2022/linux_arm64/base-files
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-files
  eks-distro-base-minimal-packages/2022/linux_arm64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_arm64/git-files
  eks-distro-base-minimal-packages/2022/linux_arm64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_arm64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_arm64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_arm64/kind-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nginx-files
  eks-distro-base/Dockerfile.minimal-helpers
Labels: lgtm, approved, size/XXL

#412 Bump patch versions for Go 1.17 and 1.18
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#413 Introducing minimal-base-nsenter variant
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-minimal-packages/2/linux_amd64/nsenter
  eks-distro-base-minimal-packages/2/linux_amd64/nsenter-files
  eks-distro-base/Dockerfile.minimal-base-nsenter
  eks-distro-base/Makefile
  eks-distro-base/tests/run_tests.sh
Labels: ok-to-test, size/XXL

#415 Add tuftool to builder-base
  builder-base/Dockerfile
  builder-base/install.sh
  builder-base/versions.sh
Labels: lgtm, approved, size/M
