Repository aws/eks-distro-build-tooling, pull requests merged in 2022-01, with the labels that each got.

#282 Add command to get asset URIs for particular release
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cmd/getasseturi.go
  release/pkg/file_reader.go
  release/pkg/get_artifact_uri.go
Labels: lgtm, approved, size/L

#283 Mount kubeconfig on crier pods for dataplane cluster communication
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/crier-Deployment.yaml
Labels: lgtm, approved, size/S

#285 add golang 1.17 to arm image for source-controller
  builder-base/install.sh
Labels: lgtm, approved, size/S

#286 Remove micahhausler from owners
  OWNERS
Labels: lgtm, approved, size/XS

#287 Remove bnrjee from owners
  OWNERS
Labels: lgtm, approved, size/S

#290 Add cherrypicker plugin to prow
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/cherrypicker-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/cherrypicker-Service.yaml
  helm-charts/stable/prow-control-plane/templates/plugins-ConfigMap.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/L

#291 Use PR bot for cherrypicker plugin
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/cherrypicker-Deployment.yaml
Labels: lgtm, approved, size/XS
