Repository aws/eks-distro-build-tooling, pull requests merged in 2022-12, with the labels that each got.

#653 Ensure glibc stays in sync between builder and final
  eks-distro-base/Dockerfile.minimal-base-glibc
Labels: lgtm, approved, size/XS

#654 Adds make to compiler-base
  eks-distro-base/Dockerfile.minimal-base-compiler
Labels: lgtm, approved, size/XS

#663 trigger build for 1.18.8
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#662 release EKS Go 1.19 tracking upstream 1.19.3
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#626 Create Toplevel CVE issues command
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/createCveIssue.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/root.go
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/client.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/mocks/github.go
  tools/eksDistroBuildToolingOpsTools/pkg/issueManager/issueManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/version/version.go
Labels: lgtm, approved, size/L

#682 Adds yum-plugin-ovl to builder base
  builder-base/scripts/install_final.sh
Labels: lgtm, approved, size/XS

#681 Stops including golang packages in rpm db
  eks-distro-base/Dockerfile.minimal-base-golang
  eks-distro-base/check_update.sh
  eks-distro-base/scripts/install_golang
Labels: lgtm, approved, size/S

#667 `golang-debian` base image for building upstream toolchain
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/MAINTAINED_EOL_VERSIONS
  projects/golang/go/Makefile
  projects/golang/go/docker/debianBase/Dockerfile
Labels: lgtm, approved, size/M

#684 Avoid replacing minimal with standard for builder-base tag update
  builder-base/Makefile
  builder-base/update_base_image.sh
  pr-scripts/update_image_tag.sh
Labels: lgtm, approved, size/XS

#687 EKS Go: condition image build + push on AMD64 arch
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#686 Handle variant prefix in builder_base_tag_file
  builder-base/update_base_image.sh
Labels: lgtm, approved, size/XS

#689 clean up make file
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#690 fix typo in EKS Go makefile
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#691 trigger Go releases in order to test prod debian image build and publish
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/S

#692 Adds disk-usage cm to prow cp
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/S

#694 Ecr public push for eks go post
  projects/golang/go/1.15/RELEASE
  projects/golang/go/Makefile
  projects/golang/go/scripts/prow_release.sh
Labels: lgtm, approved, size/S

#698 trigger debian image build
  projects/golang/go/Makefile
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#700 trigger deb build
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#701 make script executable; trigger image build
  projects/golang/go/docker/debianBase/RELEASE
  projects/golang/go/scripts/prow_release_images.sh
Labels: lgtm, approved, size/XS

#693 Fixes al2022 distro base periodic build
  eks-distro-base/Dockerfile.base
Labels: approved, size/XS

#705 Bump eks go minor versions for 1.18, 1.19
  projects/golang/go/1.18/GIT_TAG
  projects/golang/go/1.18/README.md
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/development/scripts/setup_golang_version_readme.sh
Labels: lgtm, approved, size/M

#707 EKS Go prod release for 1.18, 1.19
  projects/golang/go/1.18/RELEASE
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#706 Update runbook to make updating to the new patch versions more explicit
  projects/golang/go/development/docs/eks_go_patching_runbook.md
Labels: lgtm, approved, size/S

#665 Backport Command
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/backport.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/backportIssue.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/createCveIssue.go
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/issueManager/issueManager_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/repoManager/repoManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/repoManager/repoManager_test.go
Labels: lgtm, approved, size/L

#711 trigger eks go debian build
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#712 Sets releasever to latest for al22 distro base images
  eks-distro-base/Dockerfile.base
  eks-distro-base/Dockerfile.minimal-base
Labels: size/S

#718 Trigger a al22 rebuild of base images
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/M

#722 Add golang archive to /usr/local/go instead of /usr/local
  projects/golang/go/docker/debianBase/Dockerfile
Labels: lgtm, approved, ok-to-test, size/XS

#723 Bump EK Go Debian release trigger; update README
  projects/golang/go/Makefile
  projects/golang/go/README.md
  projects/golang/go/docker/debianBase/README.md
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/S

#724 Use the Debian image release tag in the image tag
  projects/golang/go/Makefile
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang

#715 Backport fix for CVE-2022-41717 to go1.15.15
  projects/golang/go/1.15/patches/0024-go-1.15.15-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/M

#716 Backport fix for CVE-2022-41717 go1.17.13
  projects/golang/go/1.17/patches/0006-go-1.17.13-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#717 Backport fix for CVE-2022-41717 to go1.16.15
  projects/golang/go/1.16/patches/0025-go-1.16.15-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/M

#699 Adds distro-base build for windows images
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.base-windows
  eks-distro-base/Makefile
  eks-distro-base/check_update_windows.sh
  eks-distro-base/create_windows_manifest.sh
  eks-distro-base/make-tests/expected/create-ecr-repos/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/windows-1809/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-1809/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-1809/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-1809/updates/has-updates
  eks-distro-base/make-tests/expected/windows-1809/updates/no-updates
  eks-distro-base/make-tests/expected/windows-20H2/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-20H2/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-20H2/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-20H2/updates/has-updates
  eks-distro-base/make-tests/expected/windows-20H2/updates/no-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-ltsc2022/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/has-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/no-updates
  eks-distro-base/make-tests/expected/windows/images/no-deps-no-job-type
  eks-distro-base/make-tests/expected/windows/images/no-deps-presubmit
  eks-distro-base/make-tests/make-dry-run
  eks-distro-base/update_base_image.sh
Labels: lgtm, approved, size/L

#729 Fixes windows-base naming
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/create-ecr-repos/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/windows-1809/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-1809/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-1809/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-1809/updates/has-updates
  eks-distro-base/make-tests/expected/windows-1809/updates/no-updates
  eks-distro-base/make-tests/expected/windows-20H2/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-20H2/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-20H2/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-20H2/updates/has-updates
  eks-distro-base/make-tests/expected/windows-20H2/updates/no-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/create-pr/pushed-file-false
  eks-distro-base/make-tests/expected/windows-ltsc2022/create-pr/pushed-file-true
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/error-check-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/has-updates
  eks-distro-base/make-tests/expected/windows-ltsc2022/updates/no-updates
  eks-distro-base/make-tests/expected/windows/images/no-deps-no-job-type
  eks-distro-base/make-tests/expected/windows/images/no-deps-presubmit
  eks-distro-base/make-tests/make-dry-run
Labels: lgtm, approved, size/L

#728 Fix EKS Go 1.16.15 CVE-2022-41716 patch; add standard lib install as smoke test
  projects/golang/go/1.16/patches/0020-go-1.16.15-eks-syscall-os-exec-reject-environ.patch
  projects/golang/go/Makefile
Labels: lgtm, approved, size/L

#731 bump EKS Go 1.16 release trigger
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#725 Added fix for CVE-2022-41720 for Go 1.17
  projects/golang/go/1.17/patches/0005-go1.17.13-eks-os-net-http-avoid-escapes-from-os.DirF.patch
  projects/golang/go/1.17/patches/0101-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.17/patches/0102-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.17/patches/0103-time-fallback-to-slower-TestTicker-test-after-one-fa.patch
  projects/golang/go/1.17/patches/0104-add-method-to-skip-privd-tests-if-required.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XL

#734 clean multi-platform std lib installs after each test run
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#726 Added fix for CVE-2022-41720 for Go 1.16
  projects/golang/go/1.16/patches/0001-go-1.16.15-eks-crypto-elliptic-tolerate-zero-padded-.patch
  projects/golang/go/1.16/patches/0024-go-1.16.15-eks-os-net-http-avoid-escapes-from-os.Dir.patch
  projects/golang/go/1.16/patches/0101-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.16/patches/0102-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.16/patches/0103-time-fallback-to-slower-TestTicker-test-after-one-fa.patch
  projects/golang/go/1.16/patches/0104-add-method-to-skip-privd-tests-if-required.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XL

#695 Added os-net-http-avoid-escapes... patch to 1.15
  projects/golang/go/1.15/patches/0023-go-1.15.15-eks-os-net-http-avoid-escapes-from-os.Dir.patch
  projects/golang/go/1.15/patches/0101-Don-t-use-the-bundled-tzdata-at-runtime-except-for-t.patch
  projects/golang/go/1.15/patches/0102-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.15/patches/0103-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.15/patches/0104-time-fallback-to-slower-TestTicker-test-after-one-fa.patch
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#738 prod release for EKS Go 1.16
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#737 prod release for EKS Go 1.15
  projects/golang/go/1.15/RELEASE
Labels: lgtm, approved, size/XS

#739 prod release for EKS Go 1.17
  projects/golang/go/1.17/RELEASE
Labels: lgtm, approved, size/XS

#742 Bump YQ version to latest
  builder-base/checksums/yq-amd64-checksum
  builder-base/checksums/yq-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS

#743 Bump EKS Go versions in builder-base
  builder-base/versions.yaml
Labels: lgtm, approved, size/S

#744 Fix tag update logic for EKS-A Prowjobs
  builder-base/update_base_image.sh
Labels: lgtm, approved, size/XS

#733 add darwin/arm64 platform to std lib install of eks go make
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#740 Added release config for 1.25
  release/config/1-25/1-25.yaml
Labels: lgtm, approved, size/S

#741 Updated kops to v1.25.3
  projects/kubernetes/kops/GIT_TAG
Labels: lgtm, approved, size/XS

#745 bump go versions in distro base makefile
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#748 Removes old python updates file
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-python
Labels: lgtm, approved, size/XS

#750 Cleans older buildkit deployments left from failed jobs
  scripts/setup_buildx.sh
Labels: lgtm, approved, size/S

#749 Fixes windows and make tests presubmits
  eks-distro-base/check_update_windows.sh
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/postsubmit-use-new-tag
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/presubmit-use-new-tag
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/use-tag-from-file
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18/images/compiler-images
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/make-dry-run
Labels: lgtm, approved, size/XXL

#751 Fixes open pr check for distro-base
  pr-scripts/create_pr.sh
  pr-scripts/open_pr_check.sh
Labels: lgtm, approved, size/XS

#752 add some clarifying comments to EKS Go makefile
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#757 Trigger label with slash command
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#756 decouple golang RPM download from `builder-base` Dockerfile
  .gitignore
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/scripts/download_golang.sh
  builder-base/scripts/install_golang.sh
Labels: lgtm, approved, size/L
