Repository aws/eks-distro-build-tooling, pull requests merged in 2022-02, with the labels that each got.

#292 Bump buildkit version to v0.9.3 in builder-base
  builder-base/buildkit-amd64-checksum
  builder-base/versions.sh
Labels: lgtm, approved, size/XS

#293 eks-distro-base: check proper image tag for 2022 builds
  eks-distro-base/Makefile
  eks-distro-base/check_update.sh
Labels: lgtm, approved, size/S

#295 Modify url for dev releases
  release/cmd/release.go
Labels: lgtm, approved, size/M

#296 Adding linuxkit binary to builder-base image
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#297 eks-distro-base: new base tag yaml file format support
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.minimal-base
  eks-distro-base/Dockerfile.minimal-base-docker-client
  eks-distro-base/Dockerfile.minimal-base-kind
  eks-distro-base/Makefile
  eks-distro-base/check_update.sh
  eks-distro-base/scripts/enable_docker_install
  eks-distro-base/update_base_image.sh
Labels: lgtm, approved, size/L

#301 Add hold label to bot-authored pull requests
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#300 git add the new file
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS

#305 distro-base: update package files
  eks-distro-base-minimal-packages/2/linux_amd64/csi
  eks-distro-base-minimal-packages/2/linux_amd64/docker-client
  eks-distro-base-minimal-packages/2/linux_amd64/haproxy
  eks-distro-base-minimal-packages/2/linux_amd64/iptables
  eks-distro-base-minimal-packages/2/linux_amd64/kind
  eks-distro-base-minimal-packages/2/linux_amd64/nginx
  eks-distro-base-minimal-packages/2/linux_arm64/csi
  eks-distro-base-minimal-packages/2/linux_arm64/docker-client
  eks-distro-base-minimal-packages/2/linux_arm64/haproxy
  eks-distro-base-minimal-packages/2/linux_arm64/iptables
  eks-distro-base-minimal-packages/2/linux_arm64/kind
  eks-distro-base-minimal-packages/2/linux_arm64/nginx
  eks-distro-base-minimal-packages/2022/linux_amd64/csi
  eks-distro-base-minimal-packages/2022/linux_amd64/docker-client
  eks-distro-base-minimal-packages/2022/linux_amd64/git
  eks-distro-base-minimal-packages/2022/linux_amd64/haproxy
  eks-distro-base-minimal-packages/2022/linux_amd64/nginx
  eks-distro-base-minimal-packages/2022/linux_arm64/csi
  eks-distro-base-minimal-packages/2022/linux_arm64/docker-client
  eks-distro-base-minimal-packages/2022/linux_arm64/git
  eks-distro-base-minimal-packages/2022/linux_arm64/haproxy
  eks-distro-base-minimal-packages/2022/linux_arm64/nginx
  eks-distro-base-minimal-packages/linux_amd64/base
  eks-distro-base-minimal-packages/linux_amd64/git
  eks-distro-base-minimal-packages/linux_amd64/glibc
  eks-distro-base-minimal-packages/linux_arm64/base
  eks-distro-base-minimal-packages/linux_arm64/git
  eks-distro-base-minimal-packages/linux_arm64/glibc
  eks-distro-base/Dockerfile.minimal-base-docker-client
Labels: lgtm, approved, size/XL

#304 update base image tag files out of band from new image job
  EKS_DISTRO_BASE_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_CSI_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_DOCKER_CLIENT_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GIT_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GLIBC_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_HAPROXY_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_IPTABLES_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_KIND_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_NGINX_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_NONROOT_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_TAG_FILE
  eks-distro-base/Makefile
  eks-distro-base/update_base_image.sh
  eks-distro-base/update_base_image_other_repos.sh
Labels: lgtm, approved, size/M

#306 force image tag update job to run
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#307 check in updates to support showing in PR descriptions
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-git
  eks-distro-base/check_update.sh
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#310 Add patch utility to builder-base
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#309 Add build steps for Prow deck image
  hack/boilerplate.yq.txt
  pr-scripts/create_pr.sh
  pr-scripts/prow_deck_pr_body
  projects/kubernetes/test-infra/IMAGE_TAG
  projects/kubernetes/test-infra/Makefile
  projects/kubernetes/test-infra/docker/linux/Dockerfile
  projects/kubernetes/test-infra/update_deck_image.sh
  projects/kubernetes/test-infra/update_helm_chart.sh
Labels: lgtm, approved, size/L

#308 builder-base: add al2022 build
  builder-base/Makefile
  builder-base/amazon-ecr-cred-helper-amd64-checksum
  builder-base/install.sh
  builder-base/update_base_image.sh
  builder-base/update_shasums.sh
  builder-base/versions.sh
Labels: lgtm, approved, size/M

#312 eks-distro-base: fix periodic failing on git add
  builder-base/amazon-ecr-cred-helper-arm64-checksum
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS

#314 builder-base: fix prow-jobs update and shasum update
  builder-base/update_base_image.sh
  builder-base/update_shasums.sh
  pr-scripts/update_image_tag.sh
Labels: lgtm, approved, size/S

#318 builder-base: set root user shell to bash instead of nologin
  builder-base/install.sh
Labels: lgtm, approved, size/XS

#320 prow-control-plane: introduce script to clone helm chart from upstrea…
  helm-charts/Makefile
  helm-charts/Prow.mk
  helm-charts/patches/prow-control-plane/0001-EKS-D-changes-to-helm-control-plane-chart.patch
  helm-charts/scripts/prow-control-plane-upstream-template-files
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/crier-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/crier-Role.yaml
  helm-charts/stable/prow-control-plane/templates/crier-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/crier-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/deck-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/deck-Ingress.yaml
  helm-charts/stable/prow-control-plane/templates/deck-Role.yaml
  helm-charts/stable/prow-control-plane/templates/deck-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/deck-Service.yaml
  helm-charts/stable/prow-control-plane/templates/deck-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/ghProxy-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/ghProxy-PersistentVolumeClaim.yaml
  helm-charts/stable/prow-control-plane/templates/ghProxy-Service.yaml
  helm-charts/stable/prow-control-plane/templates/hook-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/hook-Role.yaml
  helm-charts/stable/prow-control-plane/templates/hook-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/hook-Service.yaml
  helm-charts/stable/prow-control-plane/templates/hook-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/horologium-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/horologium-Role.yaml
  helm-charts/stable/prow-control-plane/templates/horologium-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/horologium-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/prow-controller-manager-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/prow-controller-manager-Role.yaml
  helm-charts/stable/prow-control-plane/templates/prow-controller-manager-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/prow-controller-manager-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/sinker-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/sinker-Role.yaml
  helm-charts/stable/prow-control-plane/templates/sinker-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/sinker-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/statusreconciler-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/statusreconciler-Role.yaml
  helm-charts/stable/prow-control-plane/templates/statusreconciler-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/statusreconciler-ServiceAccount.yaml
  helm-charts/stable/prow-control-plane/templates/tide-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/tide-Role.yaml
  helm-charts/stable/prow-control-plane/templates/tide-RoleBinding.yaml
  helm-charts/stable/prow-control-plane/templates/tide-Service.yaml
  helm-charts/stable/prow-control-plane/templates/tide-ServiceAccount.yaml
Labels: lgtm, approved, size/XXL
