Repository aws/eks-distro-build-tooling, pull requests merged in 2022-11, with the labels that each got.

#534 use prod releases of EKS Go for builder-base
  builder-base/install.sh
  projects/golang/go/Makefile
Labels: lgtm, approved, size/L

#561 bump golang 1.18 to 1.18.8 and golang 1.19 to 1.19.3
  projects/golang/go/1.18/GIT_TAG
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS

#562 Switches to buildx for eks-distro-base image builds
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS

#564 Tweaks buildkit roles and bindings
  helm-charts/stable/prow-data-plane/Chart.yaml
  helm-charts/stable/prow-data-plane/templates/buildkit-orchestration-Role.yaml
Labels: lgtm, approved, size/S

#563 EKS Go 1.16: http request smuggling patches to address CVE-2022-2880
  projects/golang/go/1.16/patches/0017-go-1.16.15-eks-regexp-limit-size-of-parsed-regexps.patch
  projects/golang/go/1.16/patches/0018-go-1.16.15-eks-net-url-reject-query-values-with-semicolons.patch
  projects/golang/go/1.16/patches/0019-go-1.16.15-eks-net-http-httputil-avoid-query-.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XL

#567 Eks go 1.16 CVE 2022 41716
  projects/golang/go/1.16/patches/0020-go-1.16.15-eks-syscall-os-exec-reject-environ.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#568 backport patch for CVE-2022-41716 to EKS Go 1.17
  projects/golang/go/1.17/patches/0004-go-1.17.13-eks-syscall-os-exec-reject-environ.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#570 backport patch for CVE-2022-30634 to EKS Go 1.16
  projects/golang/go/1.16/patches/0021-go-1.16.15-eks-crypto-rand-properly-handle-la.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#576 Adds back default go-licenses symlink
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/scripts/install_ansible.sh
  builder-base/scripts/install_go_licenses.sh
  builder-base/scripts/validate_components.sh
Labels: lgtm, approved, size/S

#578 Bump Prow to include new override plugin changes
  helm-charts/Prow.mk
  helm-charts/patches/prow-control-plane/0001-EKS-D-changes-to-helm-control-plane-chart.patch
  projects/kubernetes/test-infra/IMAGE_TAG
Labels: lgtm, approved, size/L

#583 update readme to relfect prod release distribution via EKS D CDN
  projects/golang/go/README.md
Labels: lgtm, approved, size/M

#585 Bump Prow commit to fix crier GCS reporter issue
  helm-charts/Prow.mk
  helm-charts/patches/prow-control-plane/0001-EKS-D-changes-to-helm-control-plane-chart.patch
  projects/kubernetes/test-infra/IMAGE_TAG
Labels: lgtm, approved, size/M

#588 patch CVE-2022-30580 in EKS Go 1.16
  projects/golang/go/1.16/patches/0022-go-1.16.15-eks-os-exec-return-clear-error-for.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/M

#589 patch CVE-2022-29804 in EKS Go 1.16
  projects/golang/go/1.16/patches/0023-go-1.16.15-eks-path-filepath-do-not-remove-pr.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#590 Add backport action
  .github/workflows/backport.yml
  projects/golang/go/MAINTAINED_EOL_VERSIONS
Labels: lgtm, approved, size/M

#587 Eks Go devloper docs
  projects/golang/go/development/docs/README.md
  projects/golang/go/development/docs/eks_go_patching_runbook.md
  projects/golang/go/development/scripts/setup_golang_minor_version.sh
  projects/golang/go/development/scripts/setup_golang_version_readme.sh
Labels: lgtm, approved, size/L

#591 Adds github request caching to generate-attribution
  builder-base/checksums/nodejs-amd64-checksum
  builder-base/checksums/nodejs-arm64-checksum
  builder-base/scripts/install_nodejs.sh
  generate-attribution/generate-attribution-file.js
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/_output/LICENSES/github.com/armon/circbuf/LICENSE
Labels: lgtm, approved, size/M

#593 scaffolding for EKS Distro Build Tooling operations tool
  tools/Makefile
  tools/cmd/eksGoTool/cmd/root.go
  tools/cmd/eksGoTool/main.go
  tools/go.mod
  tools/go.sum
  tools/pkg/logger/doc.go
  tools/pkg/logger/logger.go
  tools/pkg/logger/zap.go
Labels: lgtm, approved, size/XL

#621 add github functionality to eks distro build tooling ops tools
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/root.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/main.go
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/github/client.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/github_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/mocks/github.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/personalAccessToken.go
  tools/eksDistroBuildToolingOpsTools/pkg/issueManager/issueManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/issueManager/issueManager_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/logger/doc.go
  tools/eksDistroBuildToolingOpsTools/pkg/logger/logger.go
  tools/eksDistroBuildToolingOpsTools/pkg/logger/zap.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/retrier/retrier.go
Labels: lgtm, approved, size/XXL

#622 Uses versions.yaml to define builder base versions
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/scripts/install_ansible.sh
  builder-base/scripts/install_bash.sh
  builder-base/scripts/install_buildkit.sh
  builder-base/scripts/install_docker_buildx.sh
  builder-base/scripts/install_ecr_cred_helper.sh
  builder-base/scripts/install_gh_cli.sh
  builder-base/scripts/install_go_licenses.sh
  builder-base/scripts/install_golang.sh
  builder-base/scripts/install_goss.sh
  builder-base/scripts/install_govc.sh
  builder-base/scripts/install_helm.sh
  builder-base/scripts/install_hugo.sh
  builder-base/scripts/install_linuxkit.sh
  builder-base/scripts/install_nodejs.sh
  builder-base/scripts/install_packer.sh
  builder-base/scripts/install_skopeo.sh
  builder-base/scripts/install_yq.sh
  builder-base/scripts/update_shasums.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/L

#629 Update owners
  OWNERS
Labels: lgtm, approved, size/XS

#630 Fixes base images check update
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-compiler-base/updates/updates
  eks-distro-base/make-tests/expected/base-compiler-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-compiler-yum/updates/updates
  eks-distro-base/make-tests/expected/base-csi-ebs/updates/updates
  eks-distro-base/make-tests/expected/base-csi/updates/updates
  eks-distro-base/make-tests/expected/base-docker-client/updates/updates
  eks-distro-base/make-tests/expected/base-git/updates/updates
  eks-distro-base/make-tests/expected/base-glibc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.15-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.16-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.17-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-yum/updates/updates
  eks-distro-base/make-tests/expected/base-haproxy/updates/updates
  eks-distro-base/make-tests/expected/base-iptables/updates/updates
  eks-distro-base/make-tests/expected/base-kind/updates/updates
  eks-distro-base/make-tests/expected/base-nginx/updates/updates
  eks-distro-base/make-tests/expected/base-nonroot/updates/updates
  eks-distro-base/make-tests/expected/base-nsenter/updates/updates
  eks-distro-base/make-tests/expected/base-python-3.9/updates/updates
  eks-distro-base/make-tests/expected/base/updates/updates
  eks-distro-base/make-tests/expected/standard/updates/has-updates
Labels: lgtm, approved, size/M

#631 Add remaining compiler names and fix check update
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/check_update.sh
Labels: size/M

#636 Copy common scripts in compiler base builder
  eks-distro-base/Dockerfile.minimal-base-compiler
Labels: do-not-merge/hold, size/XS

#635 Switches eks-d golang image for minimal images tests
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/create-ecr-repos/all
  eks-distro-base/make-tests/make-dry-run
  eks-distro-base/tests/Dockerfile
  eks-distro-base/tests/run_tests.sh
  scripts/buildkit.sh
Labels: lgtm, approved, size/L

#628 Changes al22 check update to use --security and latest
  eks-distro-base/check_update.sh
Labels: lgtm, approved, size/S

#640 Adds rpms to rpmdb for golang builds
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.minimal-base-compiler
  eks-distro-base/Dockerfile.minimal-base-golang
  eks-distro-base/scripts/install_golang
  eks-distro-base/tests/run_tests.sh
Labels: lgtm, approved, size/L

#639 Switches to using go provided by eks-d minimal images
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#647 Ignore golang packages when checking for sec updates
  eks-distro-base/check_update.sh
Labels: lgtm, approved, size/XS

#650 Builds golang compiler by version instead of variant
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
Labels: lgtm, approved, size/L

#651 Fixes base image tag when pulled from tag file
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-compiler-yum/base-image-tag/pushed-file-true
  eks-distro-base/make-tests/expected/base-compiler-yum/base-image-tag/use-tag-from-file
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/pushed-file-true
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/use-tag-from-file
Labels: lgtm, approved, size/M
