Repository aws/eks-distro-build-tooling, pull requests merged in 2022-10, with the labels that each got.

#488 Append job logs link to bot-authored PR descriptions
  pr-scripts/builder_base_pr_body
  pr-scripts/create_pr.sh
  pr-scripts/prow_deck_pr_body
Labels: lgtm, approved, size/M

#489 Readme filename fix
  projects/golang/go/1.15/README.md
Labels: lgtm, approved, size/XS

#490 golang 1.16 rpm spec, patches, and project structure
  projects/golang/go/1.16/GIT_TAG
  projects/golang/go/1.16/patches/0001-crypto-elliptic-tolerate-zero-padded-scalars-in-gene.patch
  projects/golang/go/1.16/patches/0002-go-1.16.15-eks-encoding-pem-fix-stack-overflo.patch
  projects/golang/go/1.16/patches/0003-go-1.16.15-eks-crypto-tls-randomly-generate-t.patch
  projects/golang/go/1.16/patches/0004-go-1.16.15-eks-compress-gzip-fix-stack-exhaus.patch
  projects/golang/go/1.16/patches/0005-go-1.16.15-eks-encoding-xml-use-iterative-Ski.patch
  projects/golang/go/1.16/patches/0006-go-1.16.15-eks-encoding-xml-limit-depth-of-ne.patch
  projects/golang/go/1.16/patches/0007-go-1.16.15-eks-encoding-gob-add-a-depth-limit.patch
  projects/golang/go/1.16/patches/0008-go-1.16.15-eks-math-big-check-buffer-lengths-.patch
  projects/golang/go/1.16/patches/0009-go-1.16.15-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.16/patches/0010-go-1.16.15-eks-syscall-check-correct-group-in.patch
  projects/golang/go/1.16/patches/0011-go-1.16.15-eks-io-fs-fix-stack-exhaustion-in-.patch
  projects/golang/go/1.16/patches/0012-go-1.16.15-eks-net-http-don-t-strip-whitespac.patch
  projects/golang/go/1.16/patches/0013-go-1.16.15-eks-net-http-preserve-nil-values-i.patch
  projects/golang/go/1.16/patches/0014-go-1.16.15-eks-path-filepath-fix-stack-exhaus.patch
  projects/golang/go/1.16/patches/0101-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.16/patches/0102-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.16/patches/0103-time-fallback-to-slower-TestTicker-test-after-one-fa.patch
  projects/golang/go/1.16/patches/0104-add-method-to-skip-privd-tests-if-required.patch
  projects/golang/go/1.16/rpmbuild/SOURCES/fedora.go
  projects/golang/go/1.16/rpmbuild/SOURCES/golang-gdbinit
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XXL

#492 backport CVE-2022-2879 1.18 patch to 1.15.15
  projects/golang/go/1.15/patches/0022-go-1.15.15-eks-archive-tar-limit-size-of-head.patch
  projects/golang/go/1.15/rpmbuild/SOURCES/pax-bad-hdr-large.tar.bz2
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#493 Backport 1.18 CVE 2022 2879 fix to 1.16.15
  projects/golang/go/1.16/patches/0015-go-1.16.15-eks-archive-tar-limit-size-of-head.patch
  projects/golang/go/1.16/rpmbuild/SOURCES/pax-bad-hdr-large.tar.bz2
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#505 1.15 binary patch fix
  projects/golang/go/1.15/patches/0022-go-1.15.15-eks-archive-tar-limit-size-of-head.patch
Labels: lgtm, approved, size/S

#509 add patch for CVE-2022-41715
  projects/golang/go/1.16/patches/0017-go-1.16.15-eks-regexp-limit-size-of-parsed-regexps.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#515 add EKS Golang README with basic information and install instructions
  projects/golang/go/README.md
Labels: lgtm, approved, size/M

#516 Backport fix for CVE-2022-2879 to 1.17.13
  projects/golang/go/1.17/patches/0001-go-1.17.13-eks-archive-tar-limit-size-of-head.patch
  projects/golang/go/1.17/rpmbuild/SOURCES/pax-bad-hdr-large.tar.bz2
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#518 Backport fix for CVE-2022-41715 to 1.17.13
  projects/golang/go/1.17/patches/0003-go-1.17.13-eks-regexp-limit-size-of-parsed-regexps.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#519 Regenerate patch for 1.17
  projects/golang/go/1.17/patches/0102-cmd-go-disable-Google-s-proxy-and-sumdb.patch
Labels: lgtm, approved, size/M

#520 Create README.md
  projects/golang/go/1.16/README.md
Labels: lgtm, approved, size/XS

#522 removed duplicated command and fix spacing
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#523 add arch selector for rpm build upload paths
  projects/golang/go/1.16/README.md
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#524 trigger postsubmit
  projects/golang/go/1.16/README.md
Labels: lgtm, approved, size/XS

#525 add release trigger files to go versions
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#528 Fixes missing yum repo config in al22
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.minimal-base
Labels: lgtm, approved, size/S

#529 Adds local regi check to be used in presubmit
  scripts/local_registry_check.sh
Labels: lgtm, approved, size/M

#531 add prod release target to Makefile
  projects/golang/go/1.16/README.md
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#526 Golang: use release trigger as build ID in RPM build
  projects/golang/go/1.15/README.md
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#532 first prod release for golang 1.15
  projects/golang/go/1.15/RELEASE
Labels: lgtm, approved, size/XS

#537 set up aws config in golang tooling prod release post-submit
  projects/golang/go/Makefile
  projects/golang/go/scripts/release_s3_configuration.sh
Labels: lgtm, approved, size/M

#538 Go 1.16 prod release
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#540 make s3 release for go scripts executable
  projects/golang/go/scripts/release_s3_configuration.sh
Labels: lgtm, approved, size/XS

#539 add and update readmes with build badges
  projects/golang/go/1.15/README.md
  projects/golang/go/1.16/README.md
  projects/golang/go/1.17/README.md
  projects/golang/go/1.18/README.md
Labels: lgtm, approved, size/S

#542 update release trigger
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#541 Make go s3 setup script executable
  projects/golang/go/scripts/release_s3_configuration.sh
Labels: lgtm, approved, size/XS

#533 first prod release for golang 1.16
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#543 Falls back to find for looking for libs
  eks-distro-base/scripts/eks-d-common
Labels: lgtm, approved, size/XS

#544 Set aws cli config vars in make target for go release
  projects/golang/go/1.16/RELEASE
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#545 re-order prow-release for Go
  projects/golang/go/1.16/RELEASE
  projects/golang/go/Makefile
  projects/golang/go/scripts/prow-release.sh
Labels: lgtm, approved, size/S

#548 Installs nginx-core along with nginx
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.minimal-base-nginx
Labels: lgtm, approved, size/XS

#551 trigger 1.16 go release
  projects/golang/go/1.16/RELEASE
Labels: lgtm, approved, size/XS

#443 gen-attribution: Handles multi case license file names
  generate-attribution/generate-attribution-file.js
  generate-attribution/package-lock.json
  generate-attribution/package.json
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/_output/LICENSES/github.com/armon/circbuf/LICENSE
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/_output/LICENSES/go.etcd.io/etcd/LICENSE
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/_output/LICENSES/go.opencensus.io/LICENSE
Labels: approved, size/XL

#554 update build badges to relfect arch on readmes
  projects/golang/go/1.15/README.md
  projects/golang/go/1.16/README.md
  projects/golang/go/1.17/README.md
  projects/golang/go/1.18/README.md
Labels: lgtm, approved, size/S

#553 trigger prod releases for EKS Go versions
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#557 update EKS Go RPM spec to include unified release string format
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS

#521 Cherry pick automation
  projects/golang/go/scripts/golang-patching-tools.sh
Labels: lgtm, approved, size/M

#559 re-trigger releases for 1.16 1.17 and 1.18 after modifying release st…
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#546 Uses buildx for builder-base pre and post submit
  builder-base/Makefile
  scripts/buildkit.sh
  scripts/setup_buildx.sh
Labels: size/L
