Repository aws/eks-distro-build-tooling, pull requests merged in 2022-03, with the labels that each got.

#316 release: kube generate image tags like all other container images
  release/pkg/assets_k8s.go
Labels: lgtm, approved, size/XS

#322 distro-base: check in updates file for use in pr creation
  eks-distro-base/Makefile
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#321 prow: mirror other images into ecr by introducing build
  pr-scripts/create_pr.sh
  projects/kubernetes/test-infra/Makefile
  projects/kubernetes/test-infra/docker/linux/Dockerfile
  projects/kubernetes/test-infra/docker/linux/deck/Dockerfile
  projects/kubernetes/test-infra/update_helm_chart.sh
  projects/kubernetes/test-infra/update_helm_images.sh
Labels: lgtm, approved, size/L

#324 release: fix git tag generation for projects which were split
  release/pkg/assets_attacher.go
  release/pkg/assets_livenessprobe.go
  release/pkg/assets_provisioner.go
  release/pkg/assets_registrar.go
  release/pkg/assets_resizer.go
Labels: lgtm, approved, size/S

#326 eks-distro-base: fix ip6tables
  eks-distro-base/Dockerfile.minimal-base-iptables
  eks-distro-base/postsubmit_trigger
Labels: lgtm, approved, size/XS

#328 distro-base: fix kind image installing containerd
  eks-distro-base/postsubmit_trigger
  eks-distro-base/scripts/enable_docker_install
Labels: lgtm, approved, size/XS

#330 update to recently build al2022 image tags
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/S

#331 Change apiextensions to use v1 api
  release/config/crds/releasechannels.distro.eks.amazonaws.com-v1alpha1.yaml
  release/config/crds/releases.distro.eks.amazonaws.com-v1alpha1.yaml
Labels: lgtm, approved, size/L

#333 Update skopeo release
  builder-base/install.sh
Labels: approved, size/XS

#335 distro-base: fix update_packges and update image tag
  eks-distro-base/update_base_image.sh
  pr-scripts/update_image_tag.sh
Labels: lgtm, approved, size/S

#336 distro-base: update al2022 tags and fix export
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/S

#340 Update kubectl binary to 1.22
  helm-charts/scripts/install-toolchain.sh
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/install.sh
Labels: lgtm, approved, size/S

#343 Disable blunderbuss prow plugin by default
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/plugins-ConfigMap.yaml
Labels: lgtm, approved, size/XS

#341 Update to helm 3.8.1
  builder-base/helm-amd64-checksum
  builder-base/versions.sh
Labels: lgtm, approved, size/XS

#344 Fix protobuf cve
  release/cmd/release.go
  release/go.mod
  release/go.sum
Labels: lgtm, approved, size/S

#345 Fix Deck service ports mapping
  helm-charts/patches/prow-control-plane/0001-EKS-D-changes-to-helm-control-plane-chart.patch
  helm-charts/scripts/verify-version.sh
  helm-charts/stable/prow-control-plane/Chart.yaml
Labels: lgtm, approved, size/XS

#346 Use proper git diff target in Helm version check
  helm-charts/scripts/verify-version.sh
Labels: lgtm, approved, size/XS

#347 Add Deck ingress template
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/templates/deck-Ingress.yaml
Labels: lgtm, approved, size/M
