Repository aws/eks-distro-build-tooling, pull requests merged in 2022-08, with the labels that each got.

#440 distro-base: add ability to be build dependent images
  eks-distro-base/Dockerfile.base
  eks-distro-base/Dockerfile.minimal-base
  eks-distro-base/Dockerfile.minimal-helpers
  eks-distro-base/Makefile
  eks-distro-base/check_update.sh
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/L

#439 distro-base: ensure yq paths are quoted for python3.9
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-python3.9
  eks-distro-base/Makefile
  eks-distro-base/check_update.sh
  eks-distro-base/update_base_image.sh
  eks-distro-base/update_base_image_other_repos.sh
Labels: lgtm, approved, size/S

#442 distro-base: fixes python check-updating
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS

#446 Changed make controller-gen to use go install
  release/Makefile
Labels: lgtm, approved, size/XS

#445 Added channel to cni
  release/pkg/assets_cni.go
Labels: lgtm, approved, size/XS

#444 eks-distro: Updates al2022 image tracking files since prow job failed
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-minimal-packages/2022/linux_amd64/base
  eks-distro-base-minimal-packages/2022/linux_amd64/csi
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-ebs
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_amd64/csi-files
  eks-distro-base-minimal-packages/2022/linux_amd64/docker-client
  eks-distro-base-minimal-packages/2022/linux_amd64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_amd64/glibc
  eks-distro-base-minimal-packages/2022/linux_amd64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_amd64/haproxy
  eks-distro-base-minimal-packages/2022/linux_amd64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_amd64/iptables
  eks-distro-base-minimal-packages/2022/linux_amd64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_amd64/kind
  eks-distro-base-minimal-packages/2022/linux_amd64/kind-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nginx
  eks-distro-base-minimal-packages/2022/linux_amd64/nginx-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nsenter
  eks-distro-base-minimal-packages/2022/linux_amd64/nsenter-files
  eks-distro-base-minimal-packages/2022/linux_arm64/base
  eks-distro-base-minimal-packages/2022/linux_arm64/csi
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-ebs
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-ebs-files
  eks-distro-base-minimal-packages/2022/linux_arm64/csi-files
  eks-distro-base-minimal-packages/2022/linux_arm64/docker-client
  eks-distro-base-minimal-packages/2022/linux_arm64/docker-client-files
  eks-distro-base-minimal-packages/2022/linux_arm64/glibc
  eks-distro-base-minimal-packages/2022/linux_arm64/glibc-files
  eks-distro-base-minimal-packages/2022/linux_arm64/haproxy
  eks-distro-base-minimal-packages/2022/linux_arm64/haproxy-files
  eks-distro-base-minimal-packages/2022/linux_arm64/iptables
  eks-distro-base-minimal-packages/2022/linux_arm64/iptables-files
  eks-distro-base-minimal-packages/2022/linux_arm64/kind
  eks-distro-base-minimal-packages/2022/linux_arm64/kind-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nginx
  eks-distro-base-minimal-packages/2022/linux_arm64/nginx-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nsenter
  eks-distro-base-minimal-packages/2022/linux_arm64/nsenter-files
  eks-distro-base/Dockerfile.minimal-base-nginx
Labels: size/XXL

#451 Ignores objdump failures
  eks-distro-base/scripts/eks-d-common
Labels: lgtm, approved, size/XS

#450 first pass at kOps patch + build
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/kops_artifacts_management_tools.sh
  projects/kubernetes/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
Labels: lgtm, approved, size/L

#457 Added release config for 1-24
  release/config/1-24/1-24.yaml
Labels: lgtm, approved, size/S

#456 Bump Golang version to 1.18.5 on builder-base
  builder-base/golang-amd64-checksum
  builder-base/golang-arm64-checksum
  builder-base/install.sh
  builder-base/versions.sh
Labels: size/XS

#459 Update OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#458 bump kOps version
  projects/kubernetes/kops/Makefile
Labels: lgtm, approved, size/XS

#460 Change kops to 1.24.1 everywhere
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/kops_artifacts_management_tools.sh
Labels: lgtm, approved, size/XS

#461 Fixes git tag path for kops build
  projects/kubernetes/kops/Makefile
Labels: size/XS

#463 ensure public-acl flag is set for uploads
  projects/kubernetes/kops/Makefile
Labels: lgtm, approved, size/XS

#464 distro-base: Add conntrack-tools to iptables and allow rpm download i…
  eks-distro-base/Dockerfile.minimal-base
  eks-distro-base/Dockerfile.minimal-base-csi
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/Dockerfile.minimal-base-iptables
  eks-distro-base/Dockerfile.minimal-base-nginx
  eks-distro-base/Dockerfile.minimal-base-python
  eks-distro-base/Makefile
  eks-distro-base/scripts/clean_install
  eks-distro-base/scripts/eks-d-common
  eks-distro-base/scripts/install_binary
Labels: lgtm, approved, size/L
