Repository aws/eks-distro-build-tooling, pull requests merged in 2023-07, with the labels that each got.

#1053 Fix crier RoleBinding
  helm-charts/patches/prow-control-plane/0001-EKS-D-changes-to-helm-control-plane-chart.patch
  helm-charts/stable/prow-control-plane/Chart.yaml
Labels: lgtm, approved, size/M

#1058 Update EKS Go for 1.19.11 and 1.20.6
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS

#1060 Added windows files to eks-distro-base-updates
  eks-distro-base-updates/windows/update_packages-eks-distro-windows-base-1809
  eks-distro-base-updates/windows/update_packages-eks-distro-windows-base-20h2
  eks-distro-base-updates/windows/update_packages-eks-distro-windows-base-ltsc2022
Labels: lgtm, approved, size/XS

#1059 Add go1.18.10 patch 'validate Host header before sending'
  projects/golang/go/1.18/patches/0017-go-1.18.10-eks-net-http-validate-Host-header.patch
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#1062 update builder base golang version targets during golang test pipelin…
  projects/golang/go/build/conformanceTests/builderBaseRebuildBuildspec.yaml
  projects/golang/go/scripts/replace_builder_base_go_versions.sh
Labels: lgtm, approved, size/M

#1066 Trigger release for debian base
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#1064 Bump go versions in builder-base versions file, base Makefile, & null go image tags
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#1067 Updated kOps to 1.27
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
  projects/kubernetes/kops/patches/0002-Don-t-set-CSIMigrationAWS-for-k8s-1.27.patch
Labels: lgtm, approved, size/M

#1071 Added kops-utils-cp image
  projects/kubernetes/kops/kops_artifacts_management_tools.sh
Labels: lgtm, approved, size/XS

#1070 Add http error check in download_golang script
  builder-base/scripts/download_golang.sh
Labels: lgtm, approved, size/XS

#1065 null iptables image tags
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1072 Add architecture argument for golang_download script
  builder-base/Makefile
  builder-base/scripts/download_golang.sh
Labels: lgtm, approved, size/S

#1077 Update EKS_DISTRO_TAG_FILE.yaml
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1081 Add 1.28 release channel
  release/config/1-28/1-28.yaml
Labels: lgtm, approved, size/S
