Repository aws/eks-distro-build-tooling, pull requests merged in 2023-10, with the labels that each got.

#1188 Add files required for future EKS Go automation
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/newRelease.txt
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/readmeFmt.txt
Labels: lgtm, approved, size/M

#1186 New patch release of Golang: v1.20.9
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/RELEASE
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/M, golang, go1.20, go, projects

#1189 New patch release of Golang: v1.21.2
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/M, golang, go, go1.21, projects

#1192 New patch release of Golang: v1.19.13
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/patches/0003-go-1.19.13-eks-cmd-compile-use-absolute-file-.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/L, golang, go1.19, go, projects

#1196 Trigger Go 1.19.13-11 release
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.19, go, projects

#1198 New patch release of Golang: v1.19.13
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/patches/0004-go-1.19-13-eks-net-http-regenerate-h2_bundle-.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/L, golang, go1.19, go, projects

#1199 New patch release of Golang: v1.20.10
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/M, golang, go1.20, go, projects

#1200 New patch release of Golang: v1.21.3
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/S, golang, go, go1.21, projects

#1203 Release Eks Go 1.19, 1.20, 1.21
  projects/golang/go/1.19/RELEASE
  projects/golang/go/1.20/RELEASE
  projects/golang/go/1.21/RELEASE
Labels: lgtm, approved, golang, go1.19, go1.20, go, go1.21, projects

#1204 Trigger debian release
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang, go, projects

#1205 Trigger Builder Base update for 1.19, 1.20, 1.21
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1206 Update artifact paths on 1.19 - 1.21 Golang readmes
  projects/golang/go/1.19/README.md
  projects/golang/go/1.20/README.md
  projects/golang/go/1.21/README.md
Labels: documentation, lgtm, approved, size/M, golang, go1.19, go1.20, go, go1.21, projects

#1209 Trigger ip-tables image update
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1214 fixes attribution retry logic
  generate-attribution/generate-attribution-file.js
  generate-attribution/package-lock.json
  generate-attribution/package.json
  generate-attribution/tests/cases/containernetworking/plugins/ATTRIBUTION.txt
  generate-attribution/tests/cases/coredns/coredns/ATTRIBUTION.txt
  generate-attribution/tests/cases/etcd-io/etcd/ATTRIBUTION.txt
  generate-attribution/tests/cases/fluxcd/source-controller/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/external-attacher/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/external-provisioner/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/external-resizer/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/external-snapshotter/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/livenessprobe/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-csi/node-driver-registrar/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-sigs/aws-iam-authenticator/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-sigs/cri-tools/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes-sigs/metrics-server/ATTRIBUTION.txt
  generate-attribution/tests/cases/kubernetes/kubernetes-1-19/ATTRIBUTION.txt
Labels: lgtm, approved, size/XL

#1210 installs python 3.9 from minimal base image into builder base
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/checksums/packer-amd64-checksum
  builder-base/checksums/packer-arm64-checksum
  builder-base/scripts/install_final.sh
  builder-base/scripts/install_packer.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base

#1112 Create Golang Release go tool
  .gitignore
  projects/golang/go/README.md
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/README.md
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/cmd/newMinorEksGo.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/cmd/patchEksGo.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/cmd/release.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/cmd/root.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/cmd/updateEksGo.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/main.go
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/createPatch.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/eksGoRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/eksGoRelease_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/githubRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/newVersion.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/release.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/updateRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/versionReadmeFmt.txt
  tools/eksDistroBuildToolingOpsTools/pkg/git/errors.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/gitClient.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/gogitClient.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/personalAccessToken.go
  tools/eksDistroBuildToolingOpsTools/pkg/github/user.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager_test.go
Labels: documentation, lgtm, approved, size/XXL, golang, go, projects

#1222 Bump Skopeo to latest version on AL2023 builder-base image
  builder-base/Dockerfile
  builder-base/scripts/install_skopeo.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base

#1217 adds ansible collections needed for image builds
  builder-base/Dockerfile
  builder-base/scripts/install_final.sh
Labels: lgtm, approved, size/M, builder-base

#1223 adds govulncheck to builder base
  builder-base/Dockerfile
  builder-base/scripts/install_go_vuln_check.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base

#1224 improves python 3.9 on al2 builder base
  builder-base/Dockerfile
  builder-base/Makefile
  builder-base/scripts/install_ansible.sh
  builder-base/scripts/install_final.sh
  builder-base/scripts/validate_components.sh
Labels: lgtm, approved, size/M, builder-base

#1225 removes golang 1.16 and changes default version to 1.20
  builder-base/Dockerfile
  builder-base/scripts/validate_components.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base

#1227 removes extra buildx install
  builder-base/Dockerfile
  builder-base/checksums/docker-buildx-amd64-checksum
  builder-base/checksums/docker-buildx-arm64-checksum
  builder-base/scripts/install_docker_buildx.sh
  builder-base/scripts/update_shasums.sh
  builder-base/scripts/validate_components.sh
  builder-base/scripts/versions.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base
