Repository aws/eks-distro-build-tooling, pull requests merged in 2023-02, with the labels that each got.

#795 Fixes al22 images with yum wrt releasever latest
  eks-distro-base/scripts/eks-d-common
Labels: lgtm, approved, size/XS

#797 trigger go 1.19 prod release
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#798 Bump Packer to latest version in builder-base
  builder-base/checksums/packer-amd64-checksum
  builder-base/checksums/packer-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS

#714 Go patching script
  projects/golang/go/development/scripts/patches/apply_patches.sh
  projects/golang/go/development/scripts/patches/lib/patch.sh
Labels: lgtm, approved, size/L

#801 Add Logs to verify checksums for ARM and AMD Prod postsubmit
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#805 Trigger go-1.19 prod release
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#806 Added go 1.20
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/RELEASE
  projects/golang/go/1.20/patches/0002-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.20/patches/0003-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.20/patches/0004-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-avail.patch
  projects/golang/go/1.20/patches/0104-add-method-to-skip-privd-tests-if-required.patch
  projects/golang/go/1.20/rpmbuild/SOURCES/fedora.go
  projects/golang/go/1.20/rpmbuild/SOURCES/golang-gdbinit
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL

#796 Aws prow plugin setup
  helm-charts/stable/prow-control-plane/values.yaml
  tools/eksDistroBuildToolingOpsTools/EKS_DISTRO_PROW_PLUGIN_RELEASE
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/main.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/server.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/server_test.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/backportIssue.go
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoTool/cmd/createCveIssue.go
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
Labels: lgtm, approved, size/XXL

#809 Trigger prowjob postsubmit and go mod tidy
  tools/eksDistroBuildToolingOpsTools/go.mod
Labels: lgtm, approved, size/XS

#808 Change RPM build sync destination for AMD and ARM architecture
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS

#811 Cut golang release for 1.15-1.20
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
  projects/golang/go/1.19/RELEASE
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/S

#813 Revert "Modify cherrypick deployment for personal devstack"
  helm-charts/stable/prow-control-plane/templates/cherrypicker-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/eksdistroopstool-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/eksdistroopstool-Service.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/L

#817 trigger image release for EKS Go 1.20
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#820 Update OpsTool Dockerfile and Make build-binary
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/XS

#821 Add env of the ARG binary name
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/XS

#822 remove variable entrypoint
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/XS

#823 Add git image for ops tool
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/XS

#825 Add Ops Tool to PROD for Distro-build-tooling
  helm-charts/stable/prow-control-plane/templates/eksdistroopstool-Deployment.yaml
  helm-charts/stable/prow-control-plane/templates/eksdistroopstool-Service.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/L

#814 Change download_golang script for RPM Build download path
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/Dockerfile
  builder-base/scripts/download_golang.sh
  builder-base/scripts/install_final.sh
  builder-base/scripts/install_go_licenses.sh
  builder-base/scripts/install_golang.sh
  builder-base/versions.yaml
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
  eks-distro-base/make-tests/make-dry-run
  eks-distro-base/scripts/install_golang
Labels: lgtm, approved, size/XL

#828 Ops tool test changes
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/server.go
Labels: lgtm, approved, size/XS

#829 Release New Version of Plugin
  tools/eksDistroBuildToolingOpsTools/EKS_DISTRO_PROW_PLUGIN_RELEASE
Labels: lgtm, approved, size/XS

#830 Update Plugin Version in helm chart
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/XS

#833 Update iam auth version for Prow
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/XS

#834 update chart version
  helm-charts/stable/prow-control-plane/Chart.yaml
Labels: lgtm, approved, size/XS

#837 Revert "Update iam auth version for Prow"
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/XS

#838 remove my fork for main fork
  helm-charts/stable/prow-control-plane/values.yaml
  tools/eksDistroBuildToolingOpsTools/EKS_DISTRO_PROW_PLUGIN_RELEASE
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/server.go
Labels: lgtm, approved, size/S

#839 Add Prow cherrypicker image to ECR public image mirror workflow
  projects/kubernetes/test-infra/Makefile
Labels: lgtm, approved, size/XS

#826 Add bhavitha to OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#841 Include golang 1.20 in golang readme
  projects/golang/go/README.md
Labels: lgtm, approved, size/XS

#842 Eks go patch version bumps for 1.19.6 and 1.20.1
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S

#846 Release eks go 120, 119
  projects/golang/go/1.19/RELEASE
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.19, go1.20

#845 Ops plugin add args
  tools/eksDistroBuildToolingOpsTools/EKS_DISTRO_PROW_PLUGIN_RELEASE
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/XS

#776 Download and Verify Golang checksum
  builder-base/Dockerfile
  builder-base/scripts/download_golang.sh
  builder-base/scripts/install_golang.sh
  projects/golang/go/Makefile
  projects/golang/go/README.md
Labels: lgtm, approved, size/M

#847 bump eks distro base golang images to use new EKS Go patch versions
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/S

#852 Bump eks go debian image release for 1.19.6, 1.20.1
  projects/golang/go/docker/debianBase/README.md
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#853 Remove unwanted return
  tools/eksDistroBuildToolingOpsTools/EKS_DISTRO_PROW_PLUGIN_RELEASE
  tools/eksDistroBuildToolingOpsTools/cmd/eksDistroOpsProwPlugin/server.go
Labels: lgtm, approved, size/XS

#854 Update the plugin version and the helm chart version
  helm-charts/stable/prow-control-plane/Chart.yaml
  helm-charts/stable/prow-control-plane/values.yaml
Labels: lgtm, approved, size/XS

#827 Scaffolding for EKS D consumer updater
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/cmd/consumerUpdater/cmd/root.go
  tools/eksDistroBuildToolingOpsTools/cmd/consumerUpdater/cmd/update.go
  tools/eksDistroBuildToolingOpsTools/cmd/consumerUpdater/main.go
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/consumerUpdater/bottlerocket.go
  tools/eksDistroBuildToolingOpsTools/pkg/consumerUpdater/factory.go
  tools/eksDistroBuildToolingOpsTools/pkg/consumerUpdater/types.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksDistroRelease/eksDistroRelease.go
Labels: lgtm, approved, size/L

#810 Support for building EKS-D in codebuild
  builder-base/Makefile
  builder-base/scripts/install_docker_buildx.sh
  builder-base/scripts/validate_components.sh
  builder-base/versions.yaml
  config/docker-ecr-config.json
  projects/golang/go/Makefile
  projects/golang/go/build/conformanceTests/builderBaseRebuildBuildspec.yaml
  projects/golang/go/build/conformanceTests/eksDistroRebuildBuildspec.yaml
  projects/golang/go/build/conformanceTests/golangBuildspec.yaml
  projects/golang/go/scripts/update_codebuild_base_image.sh
  scripts/common.sh
  scripts/setup_ecr_credential_helper.sh
  scripts/setup_qemu.sh
  scripts/sync_uninitialized_git_repository.sh
Labels: lgtm, approved, size/L

#857 move docker config to a new dir to avoid clobbering ecr public config
  docker-config/docker-ecr-config.json
  scripts/setup_ecr_credential_helper.sh
Labels: lgtm, approved, size/XS

#858 minor change to trigger post-submit
  builder-base/Makefile
  builder-base/README.md
Labels: lgtm, approved, size/XS

#815 Updates to Readme to clarify update flow
  eks-distro-base/README.md
Labels: lgtm, approved, size/S

#859 Add backport request handler
  tools/eksDistroBuildToolingOpsTools/pkg/server/backportRequest.go
  tools/eksDistroBuildToolingOpsTools/pkg/server/server.go
Labels: lgtm, approved, size/L

#863 Generate Patches for Go1.16.15
  projects/golang/go/1.16/patches/0026-go-1.16.15-eks-update-bundled-golang-org.patch
  projects/golang/go/1.16/patches/0027-go-1.16.15-eks-path-filepath-do-not-clean-relative-path.patch
  projects/golang/go/1.16/patches/0028-go-1.16.15-eks-multipart-limit-memory-inode-consumption.patch
  projects/golang/go/1.16/patches/0029-go-1.16.15-eks-replace-all-usages-of-BytesOrPanic.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL

#851 Generate Patches for Go 1.18
  projects/golang/go/1.18/patches/0001-go-1.18.10-eks-update-bundled-golang.org.patch
  projects/golang/go/1.18/patches/0002-go-1.18.10-eks-replace-all-usages-of-BytesOrPanic.patch
  projects/golang/go/1.18/patches/0003-go-1.18.10-eks-multipart-limit-memory-inode-consumption.patch
  projects/golang/go/1.18/patches/0004-go-1.18.10-eks-path-filepath-do-not-Clean-relative-path..patch
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL

#861 Generate Patches for Go 1.17
  projects/golang/go/1.17/patches/0007-go-1.17.13-eks-replace-all-usages-of-BytesOrPanic.patch
  projects/golang/go/1.17/patches/0008-go-1.17.13-eks-multipart-limit-memory-inode-consumption.patch
  projects/golang/go/1.17/patches/0009-go-1.17.13-eks-path-filepath-do-not-clean-relative-path.patch
  projects/golang/go/1.17/patches/0010-go-1.17.13-eks-update-bundled-golang-org.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL

#866 add dependnecy updater interfaces and framework
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/pkg/dependencyUpdater/etcd.go
  tools/eksDistroBuildToolingOpsTools/pkg/dependencyUpdater/factory.go
  tools/eksDistroBuildToolingOpsTools/pkg/dependencyUpdater/types.go
Labels: lgtm, approved, size/L

#864 Generate Patches for Go1.15.15
  projects/golang/go/1.15/patches/0025-go-1.15.15-eks-path-filepath-do-not-clean-relative-path.patch
  projects/golang/go/1.15/patches/0026-go-1.15.15-eks-update-bundled-golang-org.patch
  projects/golang/go/1.15/patches/0027-go-1.15.15-eks-replace-all-usages-of-BytesOrPanic.patch
  projects/golang/go/1.15/patches/0028-go-1.15.15-eks-multipart-limit-memory-inode-consumption.patch
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL

#868 Trigger Go 1.15-1.18 Prod Release and Update Golang 1.15-1.20 Readme
  projects/golang/go/1.15/README.md
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/README.md
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/README.md
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/README.md
  projects/golang/go/1.18/RELEASE
  projects/golang/go/1.19/README.md
  projects/golang/go/1.20/README.md
Labels: lgtm, approved, size/M

#870 bump go versions 1.15-1.18 in disto-base make, builderbase
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#867 Bottlerocket consumer updater ops tool
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/consumerUpdater/bottlerocket.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksDistroRelease/eksDistroRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksDistroRelease/eksDistroRelease_test.go
Labels: lgtm, approved, size/XL

#873 fix typo in makefile
  builder-base/Makefile
Labels: lgtm, approved, size/XS

#872 Git client for EKS-D Ops Tool
  tools/eksDistroBuildToolingOpsTools/Makefile
  tools/eksDistroBuildToolingOpsTools/cmd/consumerUpdater/README.md
  tools/eksDistroBuildToolingOpsTools/go.mod
  tools/eksDistroBuildToolingOpsTools/go.sum
  tools/eksDistroBuildToolingOpsTools/pkg/dependencyUpdater/mocks/dependencyUpdater.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/errors.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/gitClient.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/gogitClient.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/gogitClient_test.go
  tools/eksDistroBuildToolingOpsTools/pkg/git/mocks/git.go
Labels: lgtm, approved, size/XXL

#879 Patch EKS Go 1.17 for CVE-2022-27664
  projects/golang/go/1.17/patches/0006-go-1.17.13-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.17/patches/0007-go-1.17.13-eks-replace-all-usages-of-BytesOrPanic.patch
  projects/golang/go/1.17/patches/0008-go-1.17.13-eks-multipart-limit-memory-inode-consumption.patch
  projects/golang/go/1.17/patches/0009-go-1.17.13-eks-path-filepath-do-not-clean-relative-path.patch
  projects/golang/go/1.17/patches/0010-go-1.17.13-eks-update-bundled-golang-org.patch
  projects/golang/go/1.17/patches/0011-go-1.17.13-eks-net-http-update-bundled-golang.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L
