Repository aws/eks-distro-build-tooling, pull requests merged in 2023-08, with the labels that each got.

#1088 Add get to allowed actions for prow controller manager
  helm-charts/stable/prow-data-plane/Chart.yaml
  helm-charts/stable/prow-data-plane/templates/prow-controller-manager-Role.yaml
Labels: lgtm, approved, size/XS

#1093 Bump go versions
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S

#1094 add some printlns and a hack to get around errors in 1.28 release
  release/pkg/kube_reader.go
Labels: lgtm, approved, size/XS

#1095 Revert "add some printlns and a hack to get around errors in 1.28 rel…
  release/pkg/kube_reader.go
Labels: lgtm, approved, size/XS

#1096 add patch for CVE-2023-29409 in Golang 1.18
  projects/golang/go/1.18/patches/0018-go-1.18.10-eks-crypto-tls-restrict-RSA-keys-i.patch
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#1097 trigger debian base image release with latest golang patch versions
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang

#1098 Update RELEASE
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/XS

#1100 Update RELEASE
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#1099 Update RELEASE
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#1102 Update readme
  eks-distro-base/README.md
Labels: lgtm, approved, size/XS

#1103 trigger golang debian base image release
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#1104 Update cron job api version due to K8s deprecation
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/install-CronJob.yaml
Labels: lgtm, approved, size/XS

#1105 Add script to null values of minimal images to force rebuild
  eks-distro-base/Makefile
  eks-distro-base/minimal-image-rebuilder.sh
  pr-scripts/create_pr.sh
  pr-scripts/rebuild-minimal-images-pr-body
Labels: lgtm, approved, size/M

#1078 Added SNS script for Golang
  projects/golang/go/scripts/debian_image_release_notification.sh
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/L

#1061 Added check for files exists
  eks-distro-base/update_base_image_other_repos.sh
Labels: lgtm, approved, size/XS

#1111 Add Go1.21.0
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
  projects/golang/go/1.21/patches/0001-Disable-Google-s-proxy-sumdb-and-toolchain.patch
  projects/golang/go/1.21/patches/0004-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-avail.patch
  projects/golang/go/1.21/rpmbuild/SOURCES/fedora.go
  projects/golang/go/1.21/rpmbuild/SOURCES/golang-gdbinit
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XXL

#1113 Add the aws profiles and profile export in go sns scripts
  projects/golang/go/scripts/debian_image_release_notification.sh
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/M

#1114 Golang SNS scripts bug fix
  projects/golang/go/scripts/debian_image_release_notification.sh
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/S

#1115 Bump debian release for go 1.21.0
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#1116 Update kubectl version for amazon-eks-pod-identity-webhook
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/install.sh
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/uninstall.sh
Labels: lgtm, approved, size/S

#1118 Add profile flag for Golang sns script
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/XS

#1119 Potential golang sns fix
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/XS

#1121 Revert "Potential golang sns fix (#1119)"
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/XS

#1122 Update mutating webhook due to v1beta1 deprecation
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/mutatingwebhook.yaml
Labels: lgtm, approved, size/XS

#1125 Update cert provider to mirror upstream
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/config/mutatingwebhook.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/Deployment.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/values.yaml
  projects/aws/amazon-eks-pod-identity-webhook/GIT_COMMIT
Labels: lgtm, approved, size/M

#1127 Include helper for cert name
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/_helpers.tpl
Labels: lgtm, approved, size/XS

#1128 Fix suffix typo in amazon-pod-identity-webhook helper template
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/_helpers.tpl
Labels: lgtm, approved, size/XS

#1129 Update golint github action
  .github/workflows/golangci-lint.yml
Labels: lgtm, approved, size/XS

#1130 Update pod-identity-webhook cert secret path typo
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/Deployment.yaml
Labels: lgtm, approved, size/XS

#1133 Change indent pattern in pod-identity-webook Deployment.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/Deployment.yaml
Labels: lgtm, approved, size/XS

#1131 Trigger Builder-Base update for Go 1.18.10, 1.19.12, 1.20.7
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#1135 Add eks go1.21 in distro-base and builder-base
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
  eks-distro-base/make-tests/make-dry-run
Labels: lgtm, approved, size/XL
