Repository aws/eks-distro-build-tooling, pull requests merged in 2023-12, with the labels that each got.

#1267 Add aws signer plugin for notation in the builder base
  builder-base/scripts/install_notation.sh
Labels: lgtm, approved, size/S, builder-base

#1268 Verify notation AWS Signer plugin installation
  builder-base/scripts/install_notation.sh
  builder-base/scripts/validate_components.sh
Labels: lgtm, approved, size/S, builder-base

#1272 New patch release of Golang: v1.20.12
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/S, golang, go1.20, go, projects

#1271 New patch release of Golang: v1.21.5
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/S, golang, go, go1.21, projects

#1274 Release EKS Go: v1.21.5-6
  projects/golang/go/1.21/RELEASE
Labels: lgtm, approved, size/XS, golang, go, go1.21, projects

#1275 Release EKS Go: v1.20.12-13
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.20, go, projects

#1276 Update minimal image release for EKS Go 1.20.13-14 and 1.21.5-6
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1273 New patch release of Golang: v1.19.13
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/patches/0006-go-1.19.13-eks-net-http-limit-chunked-data-ov.patch
  projects/golang/go/1.19/patches/0007-go-1.19.13-eks-path-filepath-consider-c-as-a-.patch
  projects/golang/go/1.19/patches/0008-go-1.19.13-eks-cmd-go-internal-vcs-error-out-.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/L, golang, go1.19, go, projects

#1279 Release EKS Go: v1.19.13-14
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.19, go, projects

#1280 bump debian release to include 1.19.13-14, 1.20.12-13, 1.21.5-6
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang, go, projects

#1282 Update golang 1.19 minimal images
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/S, minimal-image, builder-base

#1281 Switch eks go readme update to occur on release
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/release.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/updateRelease.go
Labels: lgtm, approved, size/S

#1283 add x.x.x minimal image tags
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/postsubmit-use-new-tag
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/presubmit-use-new-tag
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/base-image-tag/use-tag-from-file
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.18/images/compiler-images
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.19-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.20-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.21-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/base-nodejs-16/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-16/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-python-3.7/images/deps
  eks-distro-base/make-tests/expected/base-python-3.7/images/no-deps
  eks-distro-base/make-tests/expected/base-python-3.9/images/deps
  eks-distro-base/make-tests/expected/base-python-3.9/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-base/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-base/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-gcc/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-yum/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.7-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-base/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-base/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-gcc/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-yum/images/deps
  eks-distro-base/make-tests/expected/base-python-compiler-3.9-yum/images/no-deps
Labels: lgtm, approved, size/XXL, minimal-image

#1290 add workflow step to create issue on new kOps releases
  .github/workflows/kopsRelease.yaml
Labels: lgtm, approved, size/S

#1292 Fix Hugo tarball name for ARM64
  builder-base/scripts/install_hugo.sh
Labels: lgtm, approved, size/XS, builder-base

#1287 add metadata flag with location of eks go artifacts in sns
  projects/golang/go/scripts/eks_golang_release_notification.sh
Labels: lgtm, approved, size/M, golang, go, projects

#1296 Fix failing helmchart
  helm-charts/stable/amazon-eks-pod-identity-webhook/Chart.yaml
  helm-charts/stable/amazon-eks-pod-identity-webhook/templates/Deployment.yaml
Labels: lgtm, approved, size/S, helm-charts, prow

#1298 update to newest version of eks-chart tag
  projects/aws/eks-charts/aws-for-fluent-bit/Makefile
Labels: lgtm, approved, size/XS, projects

#1301 Bump Kops version to alpha.3
  projects/kubernetes/kops/GIT_TAG
Labels: lgtm, approved, size/XS, kubernetes, kops, projects
