Repository aws/eks-distro-build-tooling, pull requests merged in 2023-01, with the labels that each got.

#758 Bump up binfmt image to latest
  helm-charts/stable/binfmt/Chart.yaml
  helm-charts/stable/binfmt/values.yaml
Labels: lgtm, approved, size/XS

#448 Adds nodejs runtime and compiler images
  EKS_DISTRO_TAG_FILE.yaml
  Makefile
  eks-distro-base/Dockerfile.minimal-base-nodejs
  eks-distro-base/Help.mk
  eks-distro-base/Makefile
  eks-distro-base/generate_help.sh
  eks-distro-base/make-tests/expected/base-nodejs-16/create-pr/none
  eks-distro-base/make-tests/expected/base-nodejs-16/create-pr/pushed
  eks-distro-base/make-tests/expected/base-nodejs-16/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-16/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-16/updates/error
  eks-distro-base/make-tests/expected/base-nodejs-16/updates/none
  eks-distro-base/make-tests/expected/base-nodejs-16/updates/updates
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/create-pr/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/create-pr/pushed
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/updates/error
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/updates/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-base/updates/updates
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/create-pr/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/create-pr/pushed
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/updates/error
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/updates/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/create-pr/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/create-pr/pushed
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/images/deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/updates/error
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/updates/none
  eks-distro-base/make-tests/expected/base-nodejs-compiler-16-yum/updates/updates
  eks-distro-base/make-tests/expected/create-ecr-repos/all
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
  eks-distro-base/tests/run_tests.sh
Labels: lgtm, approved, size/XXL

#759 Reuse golang rpm downloads instead of redownloading
  builder-base/Makefile
  builder-base/scripts/download_golang.sh
  builder-base/scripts/install_golang.sh
Labels: lgtm, approved, size/M

#685 add golang checksum
  projects/golang/go/Makefile
Labels: lgtm, approved, size/S

#764 Bumps gh cli in builder base to 2.21.1
  builder-base/checksums/github-cli-amd64-checksum
  builder-base/checksums/github-cli-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS

#766 Image tag update al2022
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-16
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-16-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-base
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-base-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-gcc
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-gcc-files
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-yum
  eks-distro-base-minimal-packages/2022/linux_amd64/nodejs-compiler-16-yum-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-16
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-16-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-base
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-base-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-gcc
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-gcc-files
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-yum
  eks-distro-base-minimal-packages/2022/linux_arm64/nodejs-compiler-16-yum-files
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.15-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.15-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.15-yum
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.16-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.16-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.16-yum
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.17-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.17-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.17-yum
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.18-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.18-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.18-yum
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.19-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.19-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-golang-compiler-1.19-yum
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-nodejs-16
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-nodejs-compiler-16-base
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-nodejs-compiler-16-gcc
  eks-distro-base-updates/update_packages-eks-distro-minimal-base-nodejs-compiler-16-yum
Labels: lgtm, approved, size/XXL

#767 Only builds windows images during al2 build of distro base images
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS

#769 [PR BOT] Update base image tag file(s)
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-16
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-16-files
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-base
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-base-files
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-gcc
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-gcc-files
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-yum
  eks-distro-base-minimal-packages/2/linux_amd64/nodejs-compiler-16-yum-files
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-16
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-16-files
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-base
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-base-files
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-gcc
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-gcc-files
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-yum
  eks-distro-base-minimal-packages/2/linux_arm64/nodejs-compiler-16-yum-files
Labels: lgtm, approved, size/XXL

#770 Fixes open pr check
  pr-scripts/create_pr.sh
  pr-scripts/open_pr_check.sh
Labels: lgtm, approved, size/XS

#771 Fixes update windows base image tag files in other repos
  eks-distro-base/update_base_image_other_repos.sh
Labels: lgtm, size/M

#772 Fixes bad condition when opening PR
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#768 Bumps go-licenses to fix missing licenses bug
  builder-base/scripts/install_go_licenses.sh
Labels: lgtm, approved, size/XS

#762 bump EKS Go 1.19 to track 1.19.5 git tag
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS, golang, go1.19

#763 bump EKS Go 1.18 to track 1.18.10 git tag
  projects/golang/go/1.18/GIT_TAG
  projects/golang/go/1.18/README.md
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS, golang, go1.18

#773 trigger EKS Go 1.19 prod release for new patch version
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS

#775 Added release channel for 1.26
  release/config/1-26/1-26.yaml
Labels: lgtm, approved, size/S

#777 Bump EKS Go versions in builder-base for 1.18, 1.19
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS

#779 Bump go version in Distro-base makefile for 1.18-1.19
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/S

#780 Updated kops version and patch
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
Labels: lgtm, approved, size/S

#785 trigger release of EKS Go debian image
  projects/golang/go/docker/debianBase/README.md
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#778 Add golang linter and unit-test for EKS-D ops tool as GH actions
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
Labels: lgtm, approved, size/M
