Repository aws/eks-distro-build-tooling, pull requests merged in 2023-09, with the labels that each got.

#1149 Backport fix for CVE-2023-39318 to 1.19.12-eks
  projects/golang/go/1.19/patches/0001-go-1.19.12-eks-html-template-support-HTML-lik.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#1153 release eks go 1.20.8
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/RELEASE
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S

#1154 update to go 1.21.1 patch
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S

#1148 backport fix for cve-2023-39319 to 1.19.12-eks
  projects/golang/go/1.19/patches/0002-go-1.19.12-eks-html-template-properly-handle-.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#1155 Release debian golang updates
  projects/golang/go/README.md
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#1160 Trigger Builder-Base update for 1.19 and 1.20
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#1165 Update EKS_DISTRO_TAG_FILE.yaml
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1167 Add autolabeler for various labels
  .github/labeler.yml
  .github/workflows/label.yml
Labels: lgtm, approved, size/M

#1141 Updated kops to v1.28.0-beta.1 and to use Go 1.20
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
Labels: lgtm, approved, size/XS

#1168 Revert "Updated kops to v1.28.0-beta.1 (#1141)"
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1170 Restore eks-distro-minimal-base-iptables value
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1171 Update golang spec to include go env
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS, golang, go, go1.21, projects

#1173 Trigger 1.21 Golang release after patching RPM Spec
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
Labels: documentation, lgtm, approved, golang, go, go1.21, projects

#1136 Add eks go1.21 in builder-base
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/Dockerfile
  builder-base/versions.yaml
  projects/golang/go/build/conformanceTests/golangBuildspec.yaml
  projects/golang/go/scripts/golang-patching-tools.sh
Labels: lgtm, approved, size/M, golang, go, projects, builder-base

#1175 Reorder Utility Patches for Go 1.20 and 1.21
  projects/golang/go/1.20/patches/0102-syscall-expose-IfInfomsg.X__ifi_pad-on-s390x.patch
  projects/golang/go/1.20/patches/0103-cmd-go-disable-Google-s-proxy-and-sumdb.patch
  projects/golang/go/1.20/patches/0104-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-avail.patch
  projects/golang/go/1.20/patches/0105-add-method-to-skip-privd-tests-if-required.patch
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.21/patches/0101-Disable-Google-s-proxy-sumdb-and-toolchain.patch
  projects/golang/go/1.21/patches/0104-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-avail.patch
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S, golang, go1.20, go, go1.21, projects

#1132 initial commit for EKS Go vulnerability management tracking
  projects/golang/go/VulnerabilityManagement/eks-distro-golang-vex.json
Labels: lgtm, approved, size/L, golang, go, projects

#1176 Add additional CVE entries to VEX document
  projects/golang/go/VulnerabilityManagement/eks-distro-golang-vex.json
Labels: lgtm, approved, size/M, golang, go, projects

#1169 clean up dangling symlinks causing al2023 failures
  EKS_DISTRO_TAG_FILE.yaml
  eks-distro-base/Dockerfile.minimal-base-compiler
  eks-distro-base/Dockerfile.minimal-base-csi
  eks-distro-base/Dockerfile.minimal-base-git
  eks-distro-base/Dockerfile.minimal-base-haproxy
  eks-distro-base/Dockerfile.minimal-base-iptables
  eks-distro-base/Dockerfile.minimal-base-nginx
  eks-distro-base/Dockerfile.minimal-base-nonroot
  eks-distro-base/Dockerfile.minimal-base-python
  eks-distro-base/amd64-git-checksums
  eks-distro-base/arm64-git-checksums
  eks-distro-base/tests/Dockerfile
  eks-distro-base/tests/run_tests.sh
Labels: lgtm, size/L, minimal-image
