Repository aws/eks-distro-build-tooling, pull requests merged in 2023-11, with the labels that each got.

#1232 fixes PR body when opening PRs in other repos for minimal images
  eks-distro-base/update_base_image_other_repos.sh
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/M, minimal-image

#1235 New patch release of Golang: v1.21.4
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/S, golang, go, go1.21, projects

#1237 New patch release of Golang: v1.20.11
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/S, golang, go1.20, go, projects

#1240 Correct a few issues with the golang tooling
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/githubRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/versionReadmeFmt.txt
Labels: lgtm, approved, size/S

#1241 Release EKS Go 1.20.11
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.20, go, projects

#1242 Release EKS Go version v1.21.4
  projects/golang/go/1.21/RELEASE
Labels: lgtm, approved, size/XS, golang, go, go1.21, projects

#1243 bump debian release eksGO
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang, go, projects

#1244 Set go PATH to go1.18 for release/pkg
  release/Makefile
Labels: lgtm, approved, size/XS

#1238 New patch release of Golang: v1.19.13
  projects/golang/go/1.19/README.md
  projects/golang/go/1.19/patches/0004-go-1.19.13-eks-net-http-regenerate-h2_bundle-.patch
  projects/golang/go/1.19/patches/0005-go-1.19.13-eks-path-filepath-fix-various-issu.patch
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
Labels: documentation, lgtm, approved, size/XL, golang, go1.19, go, projects

#1247 Release EKS Go version v1.19.13-13
  projects/golang/go/1.19/RELEASE
Labels: lgtm, approved, size/XS, golang, go1.19, go, projects

#1250 update golang versions in builder base and minimal image
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1249 Update debian release
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang, go, projects

#1248 Add commitBranch variable to avoid duplicate prs
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/createPatch.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/githubRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/newVersion.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/release.go
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/updateRelease.go
  tools/eksDistroBuildToolingOpsTools/pkg/prManager/prManager.go
Labels: lgtm, approved, size/M

#1253 adds notation to builder-base
  builder-base/Dockerfile
  builder-base/checksums/notation-amd64-checksum
  builder-base/checksums/notation-arm64-checksum
  builder-base/scripts/install_notation.sh
  builder-base/scripts/update_shasums.sh
  builder-base/scripts/versions.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base

#1257 skips go link and compile when running upx
  builder-base/scripts/install_golang.sh
Labels: lgtm, approved, size/S, builder-base

#1258 Update kops for 1.29-alpha
  projects/kubernetes/kops/GIT_TAG
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1259 Create 1.29 config yaml
  release/config/1-29/1-29.yaml
Labels: lgtm, approved, size/S

#1260 updates buildkit to 0.12 in builder-base
  builder-base/checksums/buildkit-amd64-checksum
  builder-base/checksums/buildkit-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base

#1261 Bump kops to build 1.28.1
  projects/kubernetes/kops/GIT_TAG
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1263 Bump kOps git_tag and golang
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1262 Update supported version of kOps
  projects/kubernetes/kops/kops_artifacts_management_tools.sh
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1264 Restore filtering + from release candidate k8s versions
  release/pkg/kube_reader.go
Labels: lgtm, approved, size/XS

#1265 Move replace to minor not major
  release/pkg/kube_reader.go
Labels: lgtm, approved, size/XS
