Repository aws/eks-distro-build-tooling, pull requests merged in 2023-05, with the labels that each got.

#944 Replace ADD with COPY in dockerfiles
  .github/workflows/docker-check.yml
  builder-base/Dockerfile
  eks-distro-base/Dockerfile.minimal-base-iptables
  projects/golang/go/docker/debianBase/Dockerfile
  tools/eksDistroBuildToolingOpsTools/docker/Dockerfile
Labels: lgtm, approved, size/M

#976 Bump to go to 1.19.9 and 1.20.4
  projects/golang/go/1.19/GIT_TAG
  projects/golang/go/1.19/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS

#982 Release EKS-Go 1.20.4 and 1.19.9
  projects/golang/go/1.19/RELEASE
  projects/golang/go/1.20/RELEASE
Labels: lgtm, approved, size/XS

#986 Add go1.17.13 patch
  projects/golang/go/1.17/patches/0017-go-1.17.13-eks-html-template-emit-filterFails.patch
  projects/golang/go/1.17/patches/0018-go-1.17.13-eks-html-template-handle-all-JS-wh.patch
  projects/golang/go/1.17/patches/0019-go-1.17.13-eks-html-template-disallow-angle-b.patch
  projects/golang/go/1.17/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#987 Add go1.16.15 patches
  projects/golang/go/1.16/patches/0035-go1.16.15-eks-html-template-emit-filterFails.patch
  projects/golang/go/1.16/patches/0036-go1.16.15-eks-html-template-handle-all-JS-wh.patch
  projects/golang/go/1.16/patches/0037-go1.16.15-eks-html-template-disallow-angle-b.patch
  projects/golang/go/1.16/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#988 Add go1.15.15 patches
  projects/golang/go/1.15/patches/0034-go1.15.15-eks-html-template-emit-filterFails.patch
  projects/golang/go/1.15/patches/0035-go1.15.15-eks-html-template-handle-all-JS-wh.patch
  projects/golang/go/1.15/patches/0036-go1.15.15-eks-html-template-disallow-angle-b.patch
  projects/golang/go/1.15/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#985 Add go1.18.10 patch
  projects/golang/go/1.18/patches/0010-go-1.18.10-eks-html-template-emit-filterFails.patch
  projects/golang/go/1.18/patches/0011-go-1.18.10-eks-html-template-handle-all-JS-wh.patch
  projects/golang/go/1.18/patches/0012-go-1.18.10-eks-html-template-disallow-angle-b.patch
  projects/golang/go/1.18/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/L

#990 Release EKS-Go 1.15-1.18
  projects/golang/go/1.15/RELEASE
  projects/golang/go/1.16/RELEASE
  projects/golang/go/1.17/RELEASE
  projects/golang/go/1.18/RELEASE
Labels: lgtm, approved, size/XS

#992 Trigger Builder Base Update
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, size/M

#995 Bump release
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS

#999 Minor cleanup in PR creation script
  pr-scripts/create_pr.sh
  pr-scripts/prow_cp_pr_body
  pr-scripts/prow_deck_pr_body
Labels: lgtm, approved, size/S

#1001 Updated to kops 1.26.3
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
Labels: lgtm, approved, size/XS

#935 Add requestor to comment from plugin
  tools/eksDistroBuildToolingOpsTools/pkg/constants/constants.go
  tools/eksDistroBuildToolingOpsTools/pkg/externalplugin/backportRequest.go
  tools/eksDistroBuildToolingOpsTools/pkg/externalplugin/golangPatchReleaseRequest.go
Labels: lgtm, approved, size/S

#1003 Updated release to go 1.20
  release/go.mod
  release/go.sum
Labels: lgtm, approved, size/S

#1002 Reordered OWNERS and added new people
  OWNERS
Labels: lgtm, approved, size/XS
