Repository aws/eks-distro-build-tooling, pull requests merged in 2024-02, with the labels that each got.

#1328 adds python 3.11 variant
  EKS_DISTRO_TAG_FILE.yaml
  Makefile
  eks-distro-base-minimal-packages/2023/linux_amd64/python-3.11
  eks-distro-base-minimal-packages/2023/linux_amd64/python-3.11-files
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-base
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-base-files
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-gcc
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-gcc-files
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-yum
  eks-distro-base-minimal-packages/2023/linux_amd64/python-compiler-3.11-yum-files
  eks-distro-base-minimal-packages/2023/linux_arm64/python-3.11
  eks-distro-base-minimal-packages/2023/linux_arm64/python-3.11-files
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-base
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-base-files
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-gcc
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-gcc-files
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-yum
  eks-distro-base-minimal-packages/2023/linux_arm64/python-compiler-3.11-yum-files
  eks-distro-base/Dockerfile.minimal-base-python
  eks-distro-base/Makefile
  eks-distro-base/query_yum_for_python_version.sh
  eks-distro-base/tests/run_tests.sh
Labels: lgtm, approved, size/XXL, minimal-image

#1334 Bump Ansible version on builder-base
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base

#1335 New patch release of Golang: v1.20.14
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, size/XS, golang, go1.20, go, projects

#1336 New patch release of Golang: v1.21.7
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: lgtm, size/XS, golang, go, go1.21, projects

#1339 Release EKS Go: v1.20.14-15
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/RELEASE
Labels: documentation, lgtm, approved, size/S, golang, go1.20, go, projects

#1340 Release EKS Go: v1.21.7-8
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
Labels: documentation, lgtm, approved, size/S, golang, go, go1.21, projects

#1338 Update rpmbuild files and patches for Go 1.22
  projects/golang/go/1.22/RELEASE
  projects/golang/go/1.22/patches/0101-Disable-Google-s-proxy-sumdb-and-toolchain.patch
  projects/golang/go/1.22/patches/0104-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-avail.patch
  projects/golang/go/1.22/patches/0105-Skip-TestCrashDumpsAllThreads.patch
  projects/golang/go/1.22/rpmbuild/SOURCES/fedora.go
  projects/golang/go/1.22/rpmbuild/SOURCES/golang-gdbinit
  projects/golang/go/1.22/rpmbuild/SOURCES/golang.spec
  projects/golang/go/1.22/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XXL, golang, go, projects

#1342 Handle creation of RELEASE file in new Go version Release
  tools/eksDistroBuildToolingOpsTools/pkg/eksGoRelease/githubRelease.go
Labels: lgtm, approved, size/M

#1344 Release Debian EKS Go and Update Builderbase for new Golang
  builder-base/Dockerfile
  builder-base/versions.yaml
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XL, golang, go, minimal-image, projects, builder-base

#1345 Golang 1.22 builder-base & golangBuildspec change
  builder-base/Dockerfile
  projects/golang/go/build/conformanceTests/golangBuildspec.yaml
Labels: lgtm, approved, size/M, golang, go, projects, builder-base

#1346 Trigger Builder-Base update for Go 1.20.14, 1.21.7, 1.22.0
  EKS_DISTRO_TAG_FILE.yaml
Labels: size/M
