Repository aws/eks-distro-build-tooling, pull requests merged in 2024-07, with the labels that each got.

#1450 Update go install for minimal images to use the existing go version
  builder-base/Dockerfile
  builder-base/checksums/go-go1.21-amd64-checksum
  builder-base/checksums/go-go1.21-arm64-checksum
  builder-base/checksums/go-go1.22-amd64-checksum
  builder-base/checksums/go-go1.22-arm64-checksum
  builder-base/scripts/download_golang.sh
  builder-base/scripts/install_golang.sh
  builder-base/scripts/update_shasums.sh
  builder-base/scripts/validate_components.sh
  builder-base/scripts/versions.sh
  eks-distro-base/scripts/install_golang
Labels: lgtm, size/XL, minimal-image, builder-base

#1459 Make changes to release new golang minimal images and bb
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/checksums/go-go1.21-amd64-checksum
  builder-base/checksums/go-go1.21-arm64-checksum
  builder-base/checksums/go-go1.22-amd64-checksum
  builder-base/checksums/go-go1.22-arm64-checksum
  builder-base/versions.yaml
  eks-distro-base/Makefile
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1449 Add script to check and update builder base for new Golang version
  builder-base/scripts/check_upstream_golang.sh
  eks-distro-base/Makefile
  eks-distro-base/golang_versions.yaml
  eks-distro-base/scripts/check_upstream_golang
Labels: lgtm, approved, size/L, minimal-image, builder-base

#1463 Add make targets for checking and releasing new versions of golang
  builder-base/Makefile
  eks-distro-base/Makefile
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1464 updated check_upstream_golang.sh to properly set empty variables
  builder-base/scripts/check_upstream_golang.sh
  eks-distro-base/scripts/check_upstream_golang
Labels: lgtm, approved, size/XS, minimal-image, builder-base

#1466 update OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#1465 Correct golang release automation prowjob name
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1467 Fix check golang
  eks-distro-base/Makefile
Labels: lgtm, approved, size/XS, minimal-image

#1468 update git tag and bump debian release for 1.21.12 and 1.22.5
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
  projects/golang/go/1.22/GIT_TAG
  projects/golang/go/1.22/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/S, golang, go, go1.21, projects

#1472 release 1.21 and 1.22 new versions
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
  projects/golang/go/1.22/README.md
  projects/golang/go/1.22/RELEASE
Labels: documentation, lgtm, approved, size/M, golang, go, go1.21, projects

#1469 release 1.22.5 and 1.21.12 debian releases
  projects/golang/go/docker/debianBase/RELEASE
Labels: lgtm, approved, size/XS, golang, go, projects

#1474 Add infrastructure for generating the golang-debian image using upstream binaries
  projects/golang/go/Makefile
  projects/golang/go/docker/debianBase/Dockerfile
  projects/golang/go/scripts/get_upstream_golang.sh
  projects/golang/go/scripts/prow_release_images.sh
Labels: lgtm, approved, size/L, golang, go, projects

#1475 Auto update golang checksums and expected make tests
  builder-base/scripts/download_golang.sh
  builder-base/scripts/update_shasums.sh
  eks-distro-base/Makefile
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/S, minimal-image, builder-base
