Repository aws/eks-distro-build-tooling, pull requests merged in 2024-01, with the labels that each got.

#1302 bumps ansible to 2.15.4
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base

#1307 Update eksGoRelease readme guide
  tools/eksDistroBuildToolingOpsTools/cmd/eksGoRelease/README.md
Labels: documentation, lgtm, approved, size/M

#1308 Bump `govc` to latest version in builder-base
  builder-base/checksums/govc-amd64-checksum
  builder-base/checksums/govc-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base

#1310 New patch release of Golang: v1.21.6
  projects/golang/go/1.21/GIT_TAG
  projects/golang/go/1.21/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS, golang, go, go1.21, projects

#1311 New patch release of Golang: v1.20.13
  projects/golang/go/1.20/GIT_TAG
  projects/golang/go/1.20/rpmbuild/SPECS/golang.spec
Labels: lgtm, approved, size/XS, golang, go1.20, go, projects

#1312 Release EKS Go: v1.21.6-7
  projects/golang/go/1.21/README.md
  projects/golang/go/1.21/RELEASE
Labels: documentation, lgtm, approved, size/S, golang, go, go1.21, projects

#1313 Release EKS Go: v1.20.13-14
  projects/golang/go/1.20/README.md
  projects/golang/go/1.20/RELEASE
Labels: documentation, lgtm, approved, size/S, golang, go1.20, go, projects

#1314 Trigger Builder-Base update for Go 1.20.13, 1.21.6
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/versions.yaml
  eks-distro-base/Makefile
Labels: lgtm, approved, minimal-image, builder-base

#1318 Bump Ansible and Packer on builder-base
  builder-base/checksums/packer-amd64-checksum
  builder-base/checksums/packer-arm64-checksum
  builder-base/versions.yaml
Labels: lgtm, approved, size/S, builder-base

#1317 Add oras to builder-base
  builder-base/Dockerfile
  builder-base/checksums/oras-amd64-checksum
  builder-base/checksums/oras-arm64-checksum
  builder-base/scripts/install_oras.sh
  builder-base/scripts/update_shasums.sh
  builder-base/scripts/versions.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/M, builder-base

#1321 Revert changes to make update
  eks-distro-base/Makefile
Labels: lgtm, approved, size/S, minimal-image
