Repository aws/eks-distro-build-tooling, pull requests merged in 2024-12, with the labels that each got.

#1558 Fix: Replace external CDN references with local files for MD file
  projects/kubernetes/test-infra/docker/linux/deck/Dockerfile
  projects/kubernetes/test-infra/docker/linux/deck/static/material/1.3.0/material.indigo-pink.min.css
  projects/kubernetes/test-infra/docker/linux/deck/static/material/1.3.0/material.min.js
Labels: lgtm, size/M, kubernetes, projects

#1563 Ensure correct Dockerfile is used for deck image builds
  projects/kubernetes/test-infra/Makefile
  projects/kubernetes/test-infra/docker/linux/deck/Dockerfile
Labels: lgtm, approved, size/S, kubernetes, projects

#1567 Build only AMD64 images for Prow components
  projects/kubernetes/test-infra/Makefile
Labels: lgtm, approved, size/M, kubernetes, projects

#1579 updates buildkit to 0.18.2 and fixes building locally
  builder-base/checksums/buildkit-amd64-checksum
  builder-base/checksums/buildkit-arm64-checksum
  builder-base/checksums/go-go1.21-amd64-checksum
  builder-base/checksums/go-go1.21-arm64-checksum
  builder-base/checksums/go-go1.22-amd64-checksum
  builder-base/checksums/go-go1.22-arm64-checksum
  builder-base/checksums/go-go1.23-amd64-checksum
  builder-base/checksums/go-go1.23-arm64-checksum
  builder-base/scripts/download_golang.sh
  builder-base/scripts/update_shasums.sh
  builder-base/versions.yaml
Labels: lgtm, size/S, builder-base

#1582 Skipping the kubernetes-csi/external-snapshotter images to update
  release/pkg/assets_snapshotter.go
Labels: lgtm, approved, size/XS

#1584 Bump Ansible version on builder-base to v2.15.12
  builder-base/versions.yaml
Labels: lgtm, approved, size/XS, builder-base
