Repository aws/eks-distro-build-tooling, pull requests merged in 2024-09, with the labels that each got.

#1524 Add Go 1.23 to final stage in builder-base Dockerfile
  builder-base/Dockerfile
  builder-base/scripts/check_upstream_golang.sh
  builder-base/scripts/validate_components.sh
  builder-base/versions.yaml
Labels: lgtm, approved, size/S, builder-base

#1533 update golang-debian image to build to /usr/local/go
  projects/golang/go/docker/debianBase/Dockerfile
Labels: lgtm, approved, size/XS, golang, go, projects

#1534 rerelease 1.22.6 golang-debian image
  builder-base/checksums/go-go1.22-amd64-checksum
  builder-base/checksums/go-go1.22-arm64-checksum
  builder-base/versions.yaml
Labels: size/XS, builder-base

#1535 rerelease 1.22.6 golang-debian image
  eks-distro-base/golang_versions.yaml
Labels: lgtm, size/XS, minimal-image

#1536 hardcode checksum check to unblock 1.22.6 debian release
  projects/golang/go/scripts/get_upstream_golang.sh
Labels: size/XS, golang, go, projects

#1537 revert changes made to rerelease the 1.22.6 golang-debian image
  builder-base/checksums/go-go1.22-amd64-checksum
  builder-base/checksums/go-go1.22-arm64-checksum
  builder-base/versions.yaml
  eks-distro-base/golang_versions.yaml
  projects/golang/go/scripts/get_upstream_golang.sh
Labels: lgtm, approved, size/S, golang, go, minimal-image, projects, builder-base
