Repository aws/eks-distro-build-tooling, pull requests merged in 2024-08, with the labels that each got.

#1479 Golang automation for updating make-run-tests and update-make-tests-expected
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.22-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/make-dry-run
  eks-distro-base/scripts/check_upstream_golang
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/L, minimal-image

#1480 update create pr script to use proper path of expected build output f…
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1481 Use sed instead of gsed in golang automation
  builder-base/scripts/check_upstream_golang.sh
Labels: lgtm, approved, size/XS, builder-base

#1483 Add diff to debug pr script
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1484 Cp files from main repo to fork during golang periodic
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1486 Move updating checksums to checking upstream release
  builder-base/scripts/check_upstream_golang.sh
  builder-base/scripts/download_golang.sh
Labels: lgtm, size/XS, builder-base

#1488 Update verbosity for cp in golang periodic
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1493 update images-upstream-bins to use default env vars to fix image push
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS, golang, go, projects

#1495 update images-upstream-bins to use different tags
  projects/golang/go/Makefile
Labels: lgtm, approved, size/XS, golang, go, projects

#1496 Add expected go to front of golang-debian image tag
  projects/golang/go/Makefile
  projects/golang/go/scripts/get_upstream_golang.sh
Labels: lgtm, approved, size/S, golang, go, projects

#1497 updated the kops git tag to latest stable release 1.29.2
  projects/kubernetes/kops/GIT_TAG
Labels: lgtm, approved, size/XS, kubernetes, kops, projects

#1498 Created the 1.31 release config yaml
  release/config/1.31/1.31.yaml
Labels: lgtm, size/S

#1500 Fix new golang minor version release automation path
  eks-distro-base/scripts/check_upstream_golang
Labels: lgtm, approved, size/XS, minimal-image

#1502 add go 1.23 image and license image to builder-base Dockerfile
  builder-base/Dockerfile
Labels: lgtm, approved, size/M, builder-base

#1504 add expected go mock to go release periodic for minor version release…
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1506 commit test cases expected to change on go minor version release in g…
  pr-scripts/create_pr.sh
Labels: lgtm, approved, size/XS

#1508 rebuild and publish go images
  eks-distro-base/golang_versions.yaml
Labels: lgtm, approved, size/XS, minimal-image

#1514 fix release config for 1.31
  release/config/1-31/1-31.yaml
Labels: lgtm, approved, size/XS

#1513 Fixed Markdown in eks-distro-base/README.md
  eks-distro-base/README.md
Labels: documentation, lgtm, approved, needs-ok-to-test, size/XS, minimal-image

#1516 trigger builder-base update for iptables
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, ok-to-test, size/XS

#1519 revert kops to 1.29.2 and add patch for upstream fix for 1.31
  projects/kubernetes/kops/GIT_TAG
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/patches/0001-Fix-InTreePluginAWSUnregister-feature-gate-removal-in-1.31.patch
Labels: lgtm, approved, size/M, kubernetes, kops, projects
