Repository aws/eks-distro-build-tooling, pull requests merged in 2025-03, with the labels that each got.

#1636 Add new dangling link for cleanup
  eks-distro-base/Dockerfile.minimal-base-csi
  eks-distro-base/Dockerfile.minimal-base-csi-ebs
  eks-distro-base/Dockerfile.minimal-base-kind
Labels: lgtm, approved, size/XS, minimal-image

#1642 deprecate metrics server from build tooling
  release/pkg/assets_metricsserver.go
Labels: lgtm, approved, size/M

#1643 fix metrics-server tag in release
  release/pkg/assets_metricsserver.go
Labels: lgtm, approved, size/XS
