Repository aws/eks-distro-build-tooling, pull requests merged in 2025-08, with the labels that each got.

#1768 update 1-32 with patches require to support 1.34 k8s
  projects/kubernetes/kops/patches/0001-Add-Kubernetes-1-33-compatibility-with-cloud-provider-and-cloud-config-changes.patch
  projects/kubernetes/kops/patches/0002-Remove-register-schedulable-kubelet-flag-in-1.34.patch
Labels: lgtm, approved, size/L, kubernetes, kops, projects

#1769 Skip cloud config for kubelet
  projects/kubernetes/kops/patches/0003-Fix-kubelet-cloud-config-flag-for-Kubernetes-1.33-co.patch
Labels: approved, size/M, kubernetes, kops, projects

#1784 Golang 1.25 image release
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/Dockerfile
  builder-base/checksums/go-go1.25-amd64-checksum
  builder-base/checksums/go-go1.25-arm64-checksum
  builder-base/scripts/install_golang.sh
  builder-base/scripts/validate_components.sh
  builder-base/versions.yaml
  eks-distro-base/golang_versions.yaml
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-base/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-gcc/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/create-pr/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/create-pr/pushed
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/images/deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/images/no-deps
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/updates/error
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/updates/none
  eks-distro-base/make-tests/expected/base-golang-compiler-1.25-yum/updates/updates
  eks-distro-base/make-tests/expected/base-golang-compiler/images/all-compiler-images
  eks-distro-base/make-tests/expected/export/all
  eks-distro-base/make-tests/expected/standard/create-pr/all-create-prs
  eks-distro-base/make-tests/expected/test/all
  eks-distro-base/make-tests/make-dry-run
Labels: approved, size/XL, minimal-image, builder-base

#1785 update baseimage-pr-notifier to not skip and instead succeed if not a…
  .github/workflows/base-image-pr-notifier.yml
Labels: lgtm, approved, size/S

#1793 make reading git tag synchronous in generate-attribution
  generate-attribution/generate-attribution-file.js
Labels: lgtm, approved, size/S

#1791 fix: prevent script injection in base-image-pr-notifier
  .github/workflows/base-image-pr-notifier.yml
Labels: lgtm, approved, size/XS

#1798 adding nikhila2610 to OWNERS and removed Jerad and Jared
  OWNERS
Labels: lgtm, approved, size/XS
