Repository aws/eks-distro-build-tooling, pull requests merged in 2025-01, with the labels that each got.

#1586 Bump go version for iptables-wrappers to 1.23
  eks-distro-base/iptables-wrappers/go.mod
Labels: lgtm, approved, size/XS, minimal-image

#1590 Remove EKS-A build-tooling repository from tags automation
  eks-distro-base/README.md
  eks-distro-base/update_base_image_other_repos.sh
Labels: documentation, lgtm, approved, size/XS, minimal-image

#1605 update OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#1609 Trigger builder-base update for iptables
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS
