Repository aws/eks-distro-build-tooling, pull requests merged in 2025-04, with the labels that each got.

#1655 Added release config for 1.33
  release/config/1-33/1-33.yaml
Labels: lgtm, approved, size/S

#1661 Add patch to remove cloud config
  projects/kubernetes/kops/patches/0002-Remove-cloud-config.patch
Labels: lgtm, approved, size/L, kubernetes, kops, projects

#1662 Fix patch for multiple patch files + Add a custom patch file
  projects/kubernetes/kops/Makefile
  projects/kubernetes/kops/patches/0002-Add-Kubernetes-1.33-compatibility-with-cloud-provide.patch
Labels: lgtm, approved, size/L, kubernetes, kops, projects

#1663 Use same metrics server as 1.32 for 1.33
  release/pkg/assets_metricsserver.go
Labels: lgtm, approved, size/S

#1668 Fix var
  release/pkg/assets_metricsserver.go
Labels: lgtm, approved, size/XS

#1671 Manual - Update golang in builder-base
  EKS_DISTRO_TAG_FILE.yaml
  builder-base/checksums/go-go1.23-amd64-checksum
  builder-base/checksums/go-go1.23-arm64-checksum
  builder-base/checksums/go-go1.24-amd64-checksum
  builder-base/checksums/go-go1.24-arm64-checksum
  builder-base/versions.yaml
  eks-distro-base/Dockerfile.minimal-base-iptables
  eks-distro-base/Dockerfile.minimal-base-nginx
  eks-distro-base/golang_versions.yaml
Labels: lgtm, approved, size/M, minimal-image, builder-base

#1677 Trigger rebuild for iptable base image update
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1660 Updated the windows base images to null
  EKS_DISTRO_TAG_FILE.yaml
Labels: lgtm, approved, size/XS

#1693 Rename update_packages-eks-distro-windows-base-20h2 to update_package…
  eks-distro-base-updates/windows/update_packages-eks-distro-windows-base-20H2
  eks-distro-base-updates/windows/update_packages-eks-distro-windows-base-20h2
Labels: size/XS, minimal-image
